[2021-02-14 09:21] romainhe commented on #451
@akshayrathodar Hi, can you share your code ? I've the same needs. Thx

[2021-02-14 12:26] romdim commented on #1535
![Screen Shot 2021-02-14 at 1 25 56 PM](https://user-images.githubusercontent.com/2739250/107876763-349ab200-6ec8-11eb-99b7-a20f4a117ffa.png)

Server down for the Netherlands

[2021-02-14 15:09] kabachook commented on #1535
@romdim Can you please tell which DNS server you are using? You can do that by running `dig editorjs.io`, the server IP will be at the bottom, or `nslookup editorjs.io`.
For the fix I suggest setting your DNS server to `1.1.1.1` or `8.8.8.8`, while we troubleshoot the problem

[2021-02-14 15:13] romdim commented on #1535
![Screen Shot 2021-02-14 at 4 12 32 PM](https://user-images.githubusercontent.com/2739250/107880518-77b44f80-6edf-11eb-80cf-8558acd82192.png)

[2021-02-14 15:16] kabachook commented on #1535
Can you run the commands in my comment? This output is not relevant since this website is using Google DNS, not your system one

[2021-02-14 15:24] romdim commented on #1535
![Screen Shot 2021-02-14 at 4 24 07 PM](https://user-images.githubusercontent.com/2739250/107880742-1a210280-6ee1-11eb-9373-1d6fafeff50c.png)

[2021-02-14 21:29] dianadutova opened #1536 "Insert new block according to the previous block type"
In my case the type of new inserted blocks (for example on pressing enter key events) must be defined according to the type of the previous block. So defaultBlock config isn't enough. Is it possible?

[2021-02-14 21:58] CavalcanteLeo commented on #1535
In Brazil (São Paulo)

; <<>> DiG 9.10.6 <<>> editorjs.io
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: SERVFAIL, id: 20388
;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 512
;; QUESTION SECTION:
;editorjs.io.			IN	A

;; Query time: 5866 msec
;; SERVER: 192.168.15.1#53(192.168.15.1)
;; WHE

[2021-02-14 23:43] romdim commented on #1535
I just tried again and it works for me.

[2021-02-15 16:17] CavalcanteLeo commented on #1535
still down here

[2021-02-15 16:18] CavalcanteLeo commented on #1535
Are anywhere else the docs available?

[2021-02-15 16:25] romainhe commented on #746
Any news or workaround to capture `enter` key event ?

[2021-02-15 16:27] kabachook commented on #1535
@CavalcanteLeo you can set `/etc/hosts` record to `95.213.200.245 editorjs.io` for now, while we investigate the DNS problem

[2021-02-15 19:29] kabachook commented on #1535
@CavalcanteLeo @romdim  We have changed our DNS servers, the changes will be propagated within 24 hours. Please check the site availability after 24 hours. Thanks for your help troubleshooting the issue.

[2021-02-15 19:30] CavalcanteLeo commented on #1535
My pleasure to help, I'll try later

[2021-02-16 02:24] CavalcanteLeo commented on #1535
It's live again

[2021-02-16 09:31] alexanderjulmer commented on #857
Nice. I found some bugs using Safari (Version 14.0.2 (16610.3.7.1.9)) related to the marker.

**Situation**: Hitting the down arrow key in a line which also contains a marker.
**Expected behavior**: Caret jumps into the next line
**Actual behavior**: Caret jumps in front of the marker and is stuck there

**Situation**: Hitting the down arrow key while caret is inside a marker.
**Expected behaviour

[2021-02-16 10:38] neSpecc commented on #1535
Resolved. Let us know if you will have troubles in the future.

[2021-02-16 10:38] #1535 closed

[2021-02-16 17:52] KShivendu opened #1537 "💡Dark Mode for Editor.JS"
1. Describe a problem.
Many of the modern applications now support dark mode and since editor.js is getting popular, It would be fantastic to have a ready-to-use dark mode configuration.

2. Describe the solution you'd like.
[code]
We can decide the colors as we move ahead.

[2021-02-16 18:30] mrspence commented on #1537
This would be a fantastic addition to this issue from November - https://github.com/codex-team/editor.js/issues/822

Essentially the option to import editor JS without any styles would be really useful, so we can avoid duplicate code / overriding code.

_P.S - not sure if I've yet dropped an issue on Editor.JS, so I'd just like to say this codebase is one I avidly follow updates and respect. Thank

[2021-02-16 21:01] neSpecc commented on #1537
Something like that? Made in 2 mins by custom style overrides.

![photo_2021-02-16_23-59-29](https://user-images.githubusercontent.com/3684889/108120951-16dd7080-70b3-11eb-8252-e4a067e1fd96.jpg)

[2021-02-16 21:37] DurhamSmith opened #1538 "Keeping styling of inline tools after save"
Currently using the marker tool as given in the tutorial https://editorjs.io/inline-tools-api
I am able to use the marker fine, but when I save the data and render it on a new page it no longer is hilighted. It's as if the tool was never used.

How to I solve this issue/persist data.

I don't need a functioning marker tool. I am looking to render latex math with katex (inline) and then have that d

[2021-02-17 03:52] KShivendu commented on #1537
Looks great. That's what I was talking about. Now I think it's better if we leave it up to the developers to set their colors using CSS classes provided in [Core Styles API](https://editorjs.io/styles).

[2021-02-17 10:36] Nico-L commented on #1522
Hi, I have a gallery plugin mostly working though quite crude. This is now my only plugin dealing with images. I am still struggling with the drop of several files. Currently the onPaste event only deals with one file. If several files are pasted/dropped, Editorjs creates several instances of the plugin.

Would there be a workaround to prevent the creation of several instances of the plugin? I hav

[2021-02-17 14:57] milu2003 opened #1540 "contenteditable data change event"
code：
[code]

[code]

i can't monitor the event. Why

[2021-02-17 17:43] milu2003 opened #1542 "I want to set a unique ID for each block data. How should I do it?"
If the data of this block changes, I can send the data to the server
[code]

The ID cannot be obtained in this way

[code]

[2021-02-17 17:52] milu2003 commented on #1542
https://github.com/codex-team/editor.js/pull/1333
https://github.com/codex-team/editor.js/issues/1395
https://github.com/codex-team/editor.js/pull/1493

[2021-02-17 17:52] #1542 closed

[2021-02-18 00:28] kennyd98 commented on #451
@akshayrathodar Hi, I will also appreciate if you share me the code. Thank you.

[2021-02-18 02:24] milu2003 opened #1543 "[Bug] The data of getting block is wrong"
[code]

[2021-02-18 03:39] milu2003 commented on #1540
It's solved

Set the parent container `contenteditable: false`

[2021-02-18 03:39] #1540 closed

[2021-02-18 04:34] taurenshaman commented on #1531
### FIX
The above comment is only ok for the editor data in current editor.
I created a static class [BlocksUtility](https://github.com/tunaltd/blocks-editor/blob/main/src/BlocksUtility.ts) supporting:
* `static getHyperLinks(blocksData: OutputData): Array<HyperLink>`
* `static getImageLinks(blocksData: OutputData): Array<ImageLink>`

[2021-02-18 07:43] susana-bit commented on #1503
Same solution for Angular 10 and editorjs 2.19.1:
[code]

[2021-02-18 13:42] scratcher28 commented on #1522
I am having the same issue

[2021-02-18 14:17] SimonKlausLudwig commented on #1446
Is there anything I could help on this one ?

[2021-02-18 16:50] #1421 closed

[2021-02-18 17:25] #1348 closed

[2021-02-18 17:59] blahah commented on #1155
Seems like this could just work over websockets between clients with no server. Is that what you're saying @sosie-js ?

[2021-02-19 10:23] zegenie commented on #1529
+1 on this. I'm also looking to write a mentions plugin that can trigger on typing a predefined (or configurable) character, such as `@` for usernames and `#` or `[` for relative links (with a custom inline tool to parse and replace the links with proper inline link elements). I've looked through the api to find a way to achieve this, but even though the developer says "it's possible", I've not se

[2021-02-19 10:38] leonceaklin opened #1547 "[Bug] Paragraph tool keeps showing up even if not set in config"
Describe a bug.

Steps to reproduce:
1. Create an editor.js instance with custom tools but without a tool called "paragraph"
2. Even though you did not add a paragraph tool it shows up in the editor

Expected behavior:
Because it is not defined, the paragraph tool should not be available

Device, Browser, OS:
*, *, *

Editor.js version:
- 2.18

[2021-02-19 10:39] leonceaklin commented on #1547
You can fix this issue with a quick and dirty `paragraph: false` but that's not beautiful

[2021-02-19 13:34] milu2003 opened #1548 "when Add a new block. Is there any event that can be monitored"
I want to do something when the block is added

[2021-02-19 14:49] hata6502 opened #1549 "[Bug] Block selection excepts the first block"
Block selection excepts the first block

Expected behavior:
All block should be selected.

Screenshots:

https://user-images.githubusercontent.com/7702653/108519542-104a3580-730d-11eb-8650-8549ca2af740.mp4

Editor.js version: `next` branch

[2021-02-20 02:26] hata6502 opened #1551 "💡Add generics to OutputBlockData"
1. Describe a problem.
By using Generics, Editor.js users can describe string literal types.

https://www.typescriptlang.org/docs/handbook/literal-types.html#string-literal-types

By using string literal types in OutputBlockData['type'], Editor.js users can describe more type-safe OutputData in each application.

2. Describe the solution you'd like. Mockups are welcome.
See:
https://github.com/hat

[2021-02-20 03:09] hata6502 opened #1552 "[Bug] Propagated config data will be mutated by Editor.js initialization"
Describe a bug.
Propagated config data will be mutated by Editor.js initialization.

Steps to reproduce:
1. Use the following `example/example-dev.html`

[code]

2. Open `example-dev.html`, and see console log.

![Screenshot from 2021-02-20 12-09-06](https://user-images.githubusercontent.com/7702653/108582114-7a49f580-7374-11eb-97dc-e2f1499835d8.png)

Expected behavior:
Propagated config data shou

[2021-02-20 16:06] hata6502 commented on #857
@alexanderjulmer
Thank you for reporting the critical bug on Safari.
This bug occurs not only https://github.com/codex-team/editor.js/pull/1525 but also `next` branch.

@neSpecc
I think this bug should be fixed by the next release.

[2021-02-20 18:53] x00r opened #1554 "[Bug] Element with ID is missing (when it actually exists) in NW.js environment"
I'm encountering what seems like a bug trying to use EditorJS in an NW.js environment, whereby it can't seem to "see" the designated editor div on the DOM (it claims "element with ID «editorjs» is missing. Pass correct holder's ID").

Steps to reproduce:
Fire up an NW.js instance using the following example:

./package.json:
[code]

./js/main.js:
[code]

./html/editor.html:
[code]

Expected behavi

[2021-02-21 06:55] jarone commented on #917
@neSpecc

 Is there any API for access to the position of the toolbar?

I think you need it.

[2021-02-21 13:22] hata6502 commented on #857
This bug occurs as `<mark>` element in Safari only.
This caret moving is uncontrolled by Editor.js, and relied on each browser's behavior.

Umm... I can't know why this bug occurs in `next` branch rather than https://editorjs.io

[2021-02-22 06:57] raykyri opened #1556 "[Bug] Dragging to select blocks leaves out random blocks"
This occurs on my Editor.js instance and on the editorjs.io demo as well:

When dragging over the editor, some blocks are randomly not selected even though the mouse has dragged over them.

https://user-images.githubusercontent.com/1273926/108673185-191b4280-7498-11eb-92af-5a4c5ced5f09.mov

Device, Browser, OS: Mac OS X, Chrome 88.0.4324.150 (Official Build) (x86_64)

Editor.js version: Latest 2.1

[2021-02-22 20:29] rama-adi opened #1557 "[Bug] `Cannot read property 'updateCurrentInput' of undefined` when adding two instances of the editor"
Describe a bug.
when I try to add 2 instances, the editor throws an error:
[code]

Steps to reproduce:
1. add the EditorJS script
2. Add 2 divs with different ID (ex: `editor1` and `editor2`)
3. Initialize those divs with the editor
4. try clicking the (+) icon and adding some blocks
5. Check console

Expected behavior:
No errors when creating multiple instances

Screenshots:
![image](https://user

[2021-02-23 22:10] dialing-up opened #1558 "[Bug] EditorJS does not have a default export per rollup"
Describe a bug.

[!] Error: 'default' is not exported by node_modules/@editorjs/editorjs/dist/editor.js, imported by out-tsc/src/BlogBuild.js

Steps to reproduce:
Import EditorJS as '@editojs/editorjs'

Editor.js version: 2.19.1

Plugins you use with their versions: none

[2021-02-24 06:06] raykyri commented on #1558
Had the same problem here. Building with `yarn build` generates a file with all the expected code but the export is missing.

[2021-02-24 06:34] raykyri opened #1559 "[Bug] Select-all causes all blocks except the original block to be selected"
Replication steps:

- Move cursor to a block in a document with many blocks
- Press Cmd-A - the text in the current block is selected
- Press Cmd-A - all blocks are selected
- Press Cmd-A - now all blocks, *except the original block*, are selected

[2021-02-24 19:48] raykyri commented on #1556
Possible resolution: https://github.com/raykyri/editor.js/commit/a2c56398638872f4ac36038f71d18d4ead0344f1

This makes it so that dragging expands or contracts the selection but dragging over blocks that are *inside* the selection does nothing, so if the mouse event skips, `mouseover` events will have no effect till your mouse goes to the edges of the selection again.

[2021-02-24 19:51] raykyri opened #1564 "[Bug] Console error when caret events occur without a selectionRange"
- Drag to create a multi block selection.
- Click somewhere else on the page outside the editor, to remove the browser-native text caret (but not remove the multi-block selection).
- With editorjs focused, press any key.
- The debugger console produces an error in src/components/modules/caret.ts. This is because there is no `selectRange` defined.

Resolution: https://github.com/raykyri/editor.js/c

[2021-02-24 21:13] raykyri opened #1565 "[Bug] Typing to replace a multi block selection does not clear the entire selection"
Create a multi block document:

[code]

Select all blocks. Now press any key (for example "d"). The block that was last interacted with will remain on the screen, so the document will now look like this if c was the last block interacted with:

[code]

Fix: https://github.com/raykyri/editor.js/commit/2a25a1a11aea13271ef3af1b35896e6343d83193

[2021-02-25 08:43] neSpecc commented on #1565
What version of editorjs do you use?

[2021-02-25 09:49] raykyri commented on #1565
Latest version. I see this isn't replicating on the editorjs.io homepage. It was an issue for me as soon as I had set up my instance of the editor though.

[2021-02-26 07:59] talyguryn commented on #1549
Cannot reproduce on 2.19.1 on Safari 14.0.3 and Chrome 88.0.4324.192

[2021-02-26 08:29] hata6502 commented on #1549
@talyguryn Yes, it occurs in `next` branch.

[2021-02-26 08:40] talyguryn commented on #1549
oh, sorry. yea.

![image](https://user-images.githubusercontent.com/15259299/109276674-5af51180-7827-11eb-8f02-63be7e1374c0.png)

[2021-02-26 13:34] DanSivewright commented on #1142
How did you go about getting the tool plugins to work? I followed your implementation.
`<script>
  import { onMount } from 'svelte'
  onMount(async () => {
    const editorjs = await import('@editorjs/editorjs')
    const Header = await import('@editorjs/header')
    const List = await import('@editorjs/list')
    const EditorJs = editorjs.default
    let editor = new EditorJs({
      holder: 'edi

[2021-02-26 15:48] #1549 closed

[2021-02-28 00:31] #1552 closed

[2021-02-28 00:31] #1551 closed

[2021-02-28 02:00] elbakerino commented on #1557
Duplicate to #1503

[2021-02-28 02:21] elbakerino opened #1575 "[Bug] Cross-Focus between two EditorJS instances"
Describe a bug.

Multiple EditorJS instances on same page, each with own holder/different id.

When focusing the first one, then directly the second, the first ones toolmenu is still visible, only after a focus on not-editorjs closes both, with a focus in between it closes/opens correctly.

Expected behavior:
Closing the menu of the first focused instance, when focusing directly into another Edito

[2021-02-28 02:23] elbakerino commented on #1503
Looks ok in `2.19.2-rc.1`, doesn't crash anymore with multiple editors on same page.

But got a focus bug #1575, maybe related, thus tagging it here.

[2021-02-28 02:29] elbakerino commented on #1004
I got a super basic editor, so can't tell if it works for deeper/all blocks.

The editor is rendered inside a custom holder, this custom holder is focusable and catches the listeners inside, but isn't focusable by it's own through e.g. the keyboard.

Using React, this is the custom holder:

[code]

[2021-02-28 11:54] dudif91 opened #1576 "[Bug] can't import LogLevels"
Hi,
I'm trying to import LogLevels like:
import EditorJS, { LogLevels } from "@editorjs/editorjs";

           editor: new EditorJS({
                holder: this.id,
                placeholder: this.placeholder,
                logLevel: LogLevels.ERROR,
                tools: {
                    header: {
                        class: Header,
                        config: {

[2021-02-28 12:30] #1576 closed

[2021-02-28 13:42] #1489 closed

[2021-02-28 14:09] hata6502 opened #1577 "Refactor based on LGTM"
https://lgtm.com/projects/g/codex-team/editor.js?mode=list

I also recommend to install CodeQL github action!
https://github.com/github/codeql-action

[2021-02-28 15:08] AppsusUK commented on #716
Hi were you able to get custom components as blocks in editorjs?

[2021-03-01 08:47] thekhegay commented on #716
`Cannot read property 'updateCurrentInput' of undefined`

Anyone handle same error?

[2021-03-01 13:02] yanielbf opened #1579 "[Bug] Continue editing after saving"
Hi, I have been using the Editor.js and it seems very good. I have a problem, when I execute the editor.save() function, it returns a promise with the data but it destroys the editor instance. I need to keep this instance for follow editing. Also I would like to know how to get the output blocks in the editor's onChange method. Greetings

[2021-03-01 13:18] gohabereg commented on #1579
Hey @yanielbf
1. `editor.save()` is not meant to destroy the instance, so the problem should be somewhere else. Could you provide any additional info?
2. You can execute `editor.save()` inside `onChange` callback to get saved data

[2021-03-01 13:33] yanielbf commented on #1579
@gohabereg Thank for fast answer. I am using the editor in Laravel. This my code

[code]
I inspect the code with the chrome inspector and when I create it for the first time it works fine but when I save it it gives me only the <div id = "editorjs"> </div>. I assume you are destroying it. Greetings

[2021-03-01 13:36] gohabereg commented on #1579
I'm not really familiar with Lavarel, butmMake sure the page is not reloaded or some similar event which makes scripts to re-run

[2021-03-01 13:50] yanielbf commented on #1579
@gohabereg Can you show me an example for save data in onChange. !!!

[2021-03-01 14:06] gohabereg commented on #1579
[code]

[2021-03-01 15:45] yanielbf commented on #1579
@gohabereg, Hi, I found my problem. The page was re-rendering the DOM and removing the editor. Sorry for my mistake. Before closing, could you tell me if you use any css style by default to apply to the editor? Greetings

[2021-03-01 15:47] gohabereg commented on #1579
Editor.js comes with packed default styles

[2021-03-01 17:57] yanielbf commented on #1579
@gohabereg Thank you for your help!!!

[2021-03-01 17:58] #1579 closed

[2021-03-03 12:22] evanjmg commented on #727
Any update on this? Whatever data I pass should remain on the object after save()

[2021-03-03 15:27] evanjmg commented on #873
^ that PR works for me locally - we can get some more comments on whatever there's left to do? Otherwise, I'll continue using this fork

[2021-03-03 20:20] georgian4049 commented on #1328
Hey! even i am new. Where to add these styles.. please elaborate

[2021-03-05 14:13] marcovc commented on #837
Hi, it seems one cannot query the readOnly.isEnabled property. Is this how it is supposed to be? It is hard to know when to call toogleReadOnly if we don't know the current readOnly value of the component. And maintaining an external bool with this seems odd.

[2021-03-06 11:15] shalama opened #1584 "Custom callback for tools"
How to send a callback from an custom tool.

We want to implement some custom tool e.g. to create an header navigation.
For this purpose it would be very helpful to trigger our header logic only if the header tool was called.
At the moment every tool that was activated calls on the onChange method of the editor.
So is there a way to create custom events that could be listend on or can we distingui

[2021-03-06 13:24] #1584 closed

[2021-03-06 15:23] milu2003 commented on #1481
Have you solved it? I want it, too

[2021-03-06 17:08] Schidster commented on #1142
Sorry man. Its been a year since I touched programming, I dont remember
anything about it.
I was a naive programmer then, if I figured it out, u too can. All the best
with your project.
Bye :)

On Fri, Feb 26, 2021, 7:04 PM Dan Sivewright <notifications@github.com>
wrote:

[2021-03-09 09:06] photonstorm commented on #1523
If you have no intention of storing whatever Editor.js creates server-side, then I agree with your hypothesis.

Otherwise, surely the issue here is the complete lack of protection from _incoming_ attack vectors, not client-side rendering ones?

[2021-03-09 09:11] CWKevo commented on #1523
Client side is fine, who would want to hack themselves - it's pointless. My point was looking at server-side implementation, yes.

Example:
You are running a blog page that allows users to post blog comments, you use Editor.js.
An attacker makes raw API request with Editor.js unsanitized data to the blog comment POST route. That comment is then saved into database. However, it contains dangerous `

[2021-03-09 09:39] photonstorm commented on #1523
Yup, agree 100% @CWKevo - your example is showing a client-side vector, but wow, the sheer thought of saving un-sanitized data _anywhere_ server-side chills me to the bone. The potential for having your server compromised is off the charts.

[2021-03-09 20:34] cmeeren commented on #1523
Surely this is not the case if Editor.js sanitizes on render? I.e., if Editor.js either removes the `<script>` tag or HTML-encodes it (`&lt;script&gt;`)?

The _server_? How so? Here's what the server is doing:
* Storing the document (using a prepared SQL statement of course, no chance for SQL injection)
* Reading the document and returning it to the API client
* Parsing the document, e.g. to extra

[2021-03-09 21:04] neSpecc commented on #1523
1. Editor.js does not sanitize data on rendering — we trust the backend. We do sanitize on saving and pasting.

2. The generated JSON may be rendered by any other application besides editor.js, for example by mobile applications, RSS readers, own web clients, and so on. And this JSON should be sanitized.

3. We recommend sanitizing the data got from the editor.js on your backend side. Because only

[2021-03-09 21:08] cmeeren commented on #1523
Thanks, this is exactly the kind of clarification I needed.

Yes, but in our case most services do accept Editor.js user input. (We have mostly public API microservices, few pure back-end ones).

[2021-03-10 03:57] kaaaaaaaaaaai opened #1587 "I want onPast() to detect the difference between SHIFT+CMD+V and CMD+V."
Is there any way to do that?

[2021-03-10 18:21] talyguryn opened #1588 "[Bug] Click at the bottom of the editor doesn't create a new block"
Steps to reproduce:
1. Go to https://deploy-preview-1583--editor-js.netlify.app/
2. Click at the bottom of the editor

Editor.js version: 2.19.2-rc.2 (ready to be 2.19.2-rc.3)

[2021-03-11 00:38] imryanjay opened #1589 "💡ReadyOnly on a per Block basis"
With the great addition to ReadOnly setting the entire editor to contentEditable=false, it would great to implement this on a per block basis.

An example use case could be blocks received from an API where a parent user has set certain blocks that must be in an editor, while allowing a child user the ability to add / edit more.

a Block.ReadOnly could function the same as the editorJS readOnly by

[2021-03-11 00:39] imryanjay commented on #1589
Could be an additional property to each Block in data.

[code]

[2021-03-11 15:12] talyguryn opened #1591 "[Bug] Cannot read property 'normalize' of undefined in Chrome"
Uncaught TypeError: Cannot read property 'normalize' of undefined

![image](https://user-images.githubusercontent.com/15259299/110808608-353f2200-8295-11eb-8a40-d683cfa78733.png)

Steps to reproduce:

- reload the page
- click at the end of the editor
- click to the image capture
- press enter

and we have error and a new line in caption

Editor.js version: `2.19.2-rc.2` in branch `next`
https://d

[2021-03-11 15:38] hata6502 commented on #1437
https://github.com/codex-team/editor.js/issues/1591

[2021-03-12 16:14] amm834 opened #1592 "How can I show Output JSON data on Editorjs again?"
I am trying to show Editorjs Output json on Editorjs again.
I tried with `render` method , it is not working.

I want to show my JSON on Editorjs in edit mode.

Like this.

[code]

And it should show like this.
![Screenshot_2021-03-12-22-44-15-18](https://user-images.githubusercontent.com/65492233/110967189-824df180-8384-11eb-8a9f-58efa2554fbe.jpg)

How should I render it?

[2021-03-12 17:02] #1386 closed

[2021-03-14 15:50] chosenprogram opened #1594 "Grammarly extension activate for each of the blocks"
When I enter to create a new text block Grammarly automatically opened as expected but it's so annoying to have Grammarly suggestions for each of the individual blocks.

![prblm](https://user-images.githubusercontent.com/68645164/111074817-1e0b6900-850f-11eb-84c3-6c33598eaf61.PNG)

How can I have only one Grammarly extension suggestion only on the active block?

[2021-03-15 11:17] climba03003 commented on #1467
You saved my time on research why my handler is not fired. I am the same as you register the `onChange` event as `Promise` and it didn't fired.

[2021-03-15 19:22] gohabereg opened #1599 "Inline Toolbar rerenders on each selection change"
On [selectionchange](https://github.com/codex-team/editor.js/blob/next/src/components/modules/ui.ts#L350) [tryToShow](https://github.com/codex-team/editor.js/blob/next/src/components/modules/toolbar/inline.ts#L149) Inline Toolbar method is called which calls `open` method causes Inline Toolbar re-render. Moreover, it causes shortcuts duplication and other non-efficient operations.

We need to show

[2021-03-16 06:39] milu2003 commented on #1258
that good!

[2021-03-18 11:23] milu2003 commented on #1588
I need this, too

[2021-03-18 11:36] benjaminbouwyn commented on #1588
The bug is kind of critical.
If you have a block that use line break, you can't use return key to create a new block.
For exemple, if you have only one Code block, there's no other way to delete the Code block to get the default row, create a second row with return key and recreate the Code block.

[2021-03-19 03:48] hyun-park opened #1603 "[Bug] Clicking the bottom padding of editor is not creating empty paragraph block in Version 2.19.2"
## Describe a bug:

-  Clicking the bottom padding of editor is not creating empty paragraph block in Version 2.19.2

## Steps to reproduce:
1. Migrate Editor.js higher than `2.19.2`
2. Create a non-paragraph block end of the editor.
3. Click below the last block.
4. Does not create empty paragraph block end of the editor.

## Screenshots:
![editorjs_bug_empty_paragraph_block](https://user-images.

[2021-03-19 06:09] milu2003 commented on #1588
It seems strange that my document does not allow users to create blocks, but this is my requirement.

[2021-03-19 10:49] benjaminbouwyn commented on #1603
Same issue  as #1588

[2021-03-19 11:06] #1603 closed, assigned to nobody

[2021-03-19 22:51] lenaburl opened #1604 "html symbols saved incorrectly [Bug]"
Html symbols (& nbsp; & laquo; & raquo$ etc.) saved incorrectly.

Steps to reproduce:
1. Paste text with html symbols in editor
![image](https://user-images.githubusercontent.com/30262311/111849613-0ffa8580-891f-11eb-9a54-ba678c8b229a.png)

Expected behavior: output text is
![image](https://user-images.githubusercontent.com/30262311/111849623-14bf3980-891f-11eb-8676-bf15ca3b61ba.png)

Real behavio

[2021-03-20 07:44] milu2003 commented on #1074
i need it too

[2021-03-20 15:38] hata6502 commented on #1074
👀

[2021-03-20 15:52] milu2003 commented on #1074
https://user-images.githubusercontent.com/15957433/111875924-2cf28f80-89d7-11eb-9e7e-7000a9f1bde7.mov

If you update all the blocks, the page will jump, so the user experience is very bad

[code]

Is there any way to execute a plug-in function from the outside? For example, a function of the plug-in is responsible for local updates, rather than re rendering the entire component

@gohabereg

[2021-03-20 18:24] hata6502 commented on #1074
I think this is a good feature request!
It also related to `editorjs-undo`: https://github.com/codex-team/editor.js/issues/518

I approach to use the diff library: https://github.com/kpdecker/jsdiff

[2021-03-21 00:21] uuykay opened #1607 "Marking up text- like bolding - inserts HTML tags into the JSON data text string"
**Question**

HI there, I love your editor, and when I was first rolling my own solution, I came up with an API similar to your block API. One thing I noticed however when playing with your homepage demo, was that if you highlight a word and make it bold, it goes from:

[code]

to
[code]

The <b></b> tag inside is not ideal for use in React. To parse it I would need to do some string manipulation

[2021-03-21 22:17] shoaibsharif commented on #1588
And it happens I think from 2.19.2

[2021-03-23 21:26] milu2003 commented on #1426
i need it too

[2021-03-24 13:38] johnpuddephatt commented on #1455
I noticed this. Updated to newest version (2.19.3) and it seems to be fixed?

[2021-03-24 15:08] kc980602 commented on #1455
Yes this is fixed after by updating to 2.19.3
@alagresta can you close the issue

[2021-03-25 15:00] Neerajakshi opened #1609 "💡Reinitialize editor with holder ID"
I have multiple editors configured with different ID only. but I want to reinitialize  EditorJS so that i can programatically get the data of each editor.

Is there any existing solution for this?

[2021-03-25 15:28] Jimmylet opened #1610 "Is it possible to add a style based on a defined template"
**Question**

I would like my users to be able to add "variables" to their projects. The variables would be represented in the editor like this:

Hello {{name}}, how are you?

I would like to be able to automatically style these variables (ex: add a background). What is the technique to identify with Editorjs all "{{var}}" elements and automatically style them ?

Thank you !

[2021-03-25 16:03] Neerajakshi commented on #1138
Is this working ??. Any solution other than this.

[2021-03-25 16:51] neSpecc commented on #1138
For now, there is no method for returning an instance. So @mrspence's solution is a way for workthrough.

[2021-03-25 18:08] robonetphy opened #1611 "Uncaught TypeError: Cannot read property 'normalize' of undefined [Bug]"
Steps to reproduce:

https://user-images.githubusercontent.com/23169768/112521983-21320f00-8dc3-11eb-9e3f-5ca5d7203eb0.mp4

Expected behaviour:
No Defect Occurs.

[2021-03-26 08:41] bsodmike commented on #729
Hi all,

Has there been any further progress on this issue?

Thanks!

[2021-03-26 13:57] bencohendev commented on #927
+1 on this. Would really love to be able to change the default toggle, especially to "/" instead of Tab

[2021-03-27 05:13] milu2003 commented on #908
i need it too!

[2021-03-27 06:19] milu2003 opened #1612 "💡Urgent need for real-time collaboration solutions"
There is an urgent need for a real-time collaboration solution. Didn't this editor think of this problem at the beginning of its design?

Basically, all mainstream editors have good real-time collaboration solutions

https://github.com/yjs/yjs-demos

[2021-03-29 07:30] gurdeepsinghiet opened #1616 "editor.js is not working with angular 11 universal (SSR).it is giving error "Reference Error: window not define".IS Editor.js has a angular ssr support...?"
Hi Codex-team,

I am using editorjs with angular Universal SSR.But,editor.js is not working with angular 11 universal (SSR).it is giving error "Reference Error: window not define".IS Editor.js has a angualr ssr support...?

it is giving following error:
ReferenceError: window is not defined
    at Object.<anonymous> (C:\Users\10059648\Desktop\ELEARNINGWEBPACKDIG\node_modules\@editorjs\header\dist\

[2021-03-30 06:11] entonee commented on #1592
use - data instead of render.

data: {
   "time": 1550476186479,
   "blocks": [
      {
         "type": "header",
         "data": {
            "text": "Editor.js",
            "level": 2
         }
      }
]},

[2021-03-30 06:35] entonee commented on #1494
not working for me (

[2021-03-30 07:41] tkrevh commented on #1494
@entonee we're using that solution in production, so it's working for all our customers.
Maybe you have an issue with your HTML, or don't have the necessary EditorJS blocks installed.

[2021-03-30 07:55] entonee commented on #1494
Thank you.
i found a way. i get error with await ( i`m not using react - may be thats why)

but i added it to onReady and everything works like a charm

onReady: () => {
               editor.blocks.renderFromHTML("<?=trim(preg_replace('/\s\s+/', ' ', addslashes($rw['body'])))?>")
            }

but have an issue with images - i get an error ( Image Tool: uploading failed because of incorrect resp

[2021-03-30 09:13] evanjmg opened #1617 "Select and Convert multiple blocks to one block💡"
**Feature:** I have a bunch paragraphs I'd like to arrange into a list.

**Behaviour**: Select multiple blocks, click, and the conversion tool appears and I can make a conversion into one block. Conversion config would need to have a new field on how to merge multiple blocks.

Are there any alternatives?
It's very tedious to create and modify lists from existing content. The only alternative is to

[2021-03-30 09:13] evanjmg commented on #1617
I'll try to create a pr on this soon.

[2021-03-31 02:31] rlindskog commented on #709
I'm messing around with using [turndown](https://github.com/domchristie/turndown) to parse the paragraph blocks, so far I'm having some good luck. I'll post my progress here, might have a package up in the near future.

[2021-03-31 11:50] Will-Bill commented on #1612
Urgent need? From a group of open source developers?

Maybe you should contribute.

[2021-03-31 18:20] evanjmg commented on #1617
^ PR above, let me know if you have any feedback

[2021-03-31 19:47] evanjmg commented on #1617
Additional configuration will be added to header and nested list libraries:
[code]

[2021-04-01 08:19] SohaibShafiq1 opened #1621 "💡Can we use editor.js in React Native?"

[2021-04-02 10:59] SohaibShafiq1 opened #1622 "How to show an instagram post or FB posts clearly in editor.js like other blog websites"
The question.

Why and how the question has come up.

[2021-04-02 14:20] neSpecc commented on #1622
You need a plugin for that. Instagram can be embedded by the [Embed](https://github.com/editor-js/embed) tool

[2021-04-02 14:20] #1622 closed, assigned to nobody

[2021-04-02 16:22] vaal- commented on #757
2.19.3 the problem still exists

[2021-04-04 21:58] zizther commented on #1617
Nice feature, and something I am after.

[2021-04-05 04:31] snettah commented on #1538
I think you need to sanitize your data https://editorjs.io/inline-tool-sanitizing

[2021-04-05 06:09] theaungmyatmoe commented on #1592
I will try your idea very soon,thank bro.

[2021-04-05 08:54] jeremyVignelles opened #1623 "💡TOOL: Add an autocomplete tool type"
1. Describe a problem.
When typing a text, I'm used to the github workflow where I can type `#` to refer to an issue, `@` to mention someone or `:` to open the emoji panel. These kind of interactions are widely used in modern forums/chat, but as far as I've seen, are not possible with editor.js right now.

2. Describe the solution you'd like. Mockups are welcome.
Autocomplete tools would be trigge

[2021-04-05 08:57] jeremyVignelles commented on #451
If I understand this issue properly, the workflow would be:
1. Type the name of the person you want to mention
2. Click on the inline tool
3. The mention is now linked.

I don't find this workflow optimal, and I think we need a new kind of tool to tackle this issue, so I created #1623

[2021-04-05 09:00] jeremyVignelles commented on #1263
I'd also like to have something integrated with another type of tools : autocomplete tools : #1623

[2021-04-05 10:05] jeremyVignelles opened #1624 "Thinking out loud: "clean output" for inline tools"
I've seen this on the main page of editor.js

I fully agree with the concept and I find this a key differenciator from other editors. However, it does seem to be the case for blocks, and not for inlines.

However, such paragraph generates this code:
[code]

The fact that there are code tags in the middle of the data would defeat the ability to render it easily and natively on mobile apps and other

[2021-04-05 10:14] jeremyVignelles opened #1625 "[Bug] Unable to copy blocks"
When I'm in block selection mode, I'm unable to copy the block content

Steps to reproduce:
1. Go to https://editorjs.io/
2. Select several block
3. Copy the blocks, with either ctrl + C or right-click / copy
4. Go to a text editor, try to paste.
5. The blocks have not been copied

Expected behavior: The block content should have been copied

Screenshots:
![image](https://user-images.githubusercon

[2021-04-05 10:25] jeremyVignelles commented on #1125
Duplicate of #1315 ?

[2021-04-05 10:35] jeremyVignelles commented on #1529
Hi, I didn't saw this issue, I made a similar proposal at #1623
I think that this should be a different type of tool, not just an inline tool

[2021-04-05 12:10] kaaaaaaaaaaai commented on #1383
👍

[2021-04-05 15:21] kaaaaaaaaaaai opened #1627 "[BlockTuneAPI] why block.holder becomes undefined in the costractor❓"
**Question**

block.holder becomes undefined in the costractor

[code]
in browser console

[code]

i want holder elements

**Context**

I'm using the block tune API to create an alignment tool.

[code]
In the data on the editor, it has an alignment.
I want to use the `"alignment" : "center"` to add a css class to the holder in constructor.
ex. `block.holder.classList.add("text-aligment--center")`

[2021-04-05 15:43] gohabereg commented on #1627
Hi @kaaaaaaaaaaai
Could you provide a code of your tune please?

[2021-04-05 15:43] gohabereg commented on #1627
Sorry, haven't noticed the link, let me check

[2021-04-05 16:03] kaaaaaaaaaaai commented on #1627
@gohabereg
thankyou!
I'm not good at English. Here's a supplement.

[code]

I want to do this.
cuz, block.holder is `undefined`

console screenshot
<img width="702" alt="スクリーンショット 2021-04-06 1 00 01" src="https://user-images.githubusercontent.com/2194021/113595031-6bdd4200-9673-11eb-9ed7-34a5f20616cc.png">

I'm using `wrap method` instead.
[code]
`blockContent` and `block.holder` are different ele

[2021-04-05 16:11] gohabereg commented on #1627
So
1. Constructor

We need Tune instance to be created before `block.holder` is created, because to create holder we need to call `tune.wrap` method. That's why inside the Tune constructor `block.holder` is undefined

2. wrap

`tune.wrap` is called in process of `block.holder` creation (because holder should contain wrapper elements), so inside `wrap` method `block.holder` is undefined as well.

3

[2021-04-05 16:20] kaaaaaaaaaaai commented on #1627
Thank you for your kindness.
 I'm going to wrap the block in its own wrapper element.

[2021-04-05 16:26] #1627 closed, assigned to nobody

[2021-04-05 21:02] EMamichev commented on #1502
+

[2021-04-06 02:28] milu2003 commented on #1612
Because editorjs has no collaborative function, I reconstructed the project with prosemirror, and the experience is very good. I hope editorjs can achieve this effect as soon as possible

https://user-images.githubusercontent.com/15957433/113650278-8985c800-96c2-11eb-8b3c-2bac22c7e25a.mov

[2021-04-06 02:28] #1612 closed, assigned to nobody

[2021-04-06 04:41] gohabereg commented on #1624
Hey @jeremyVignelles !
Thanks for sharing. We had several discussions within the team about clean output for inline formatting. As we want to have ability to implement data-reach inline tools we would definitely need to implement some JSON format for them which will cover simple tools as well. Moreover, it seems we will need it for collaborative editing.

However, our main concern is Editor.js mos

[2021-04-06 04:43] gohabereg commented on #1621
Hi @SohaibShafiq1
Editor.js is heavily relies on DOM APIs so usage with React Native is not possible at the moment

[2021-04-06 04:43] #1621 closed, assigned to nobody

[2021-04-06 04:47] gohabereg commented on #1616
Hi @gurdeepsinghiet
There is a third-party library for angular support: @tinynodes/ngx-editorjs
However, Editor.js is a client library so it won't work on the server side

[2021-04-06 05:11] jeremyVignelles commented on #1624
Hi,
Thanks for sharing your internal discussions. I have three questions now :

- I thought about having a "transition period" where users would choose between the two format. Do you think it will be okay to maintain two versions of the code in parallel, say, for editing, for example?
- Does that mean that all tools will need to implement two functions, depending on the mode that was selected ?
-

[2021-04-06 05:19] gohabereg commented on #1624
- it would depend on design. I don't think there will be two versions of code, the core would use only new approach, but there would be another layer on top of the core to convert new format to HTML tags
- no, tools anyway would need to provide render method so Editor knows how to display them, using this method we will be able to provide markup to output
- again, depends on design. At this point

[2021-04-06 05:27] jeremyVignelles commented on #1624
I'm not familiar enough with all the APIs, but isn't there somewhere a "parsing" method for the inline tools where the plugin says "yup, that's my code", for example, for edition... ? Generating HTML wouldn't be hard, I guess, but transforming back from either a string or a JSON is really different, don't you think?

[2021-04-06 05:53] talyguryn opened #1629 "[Refactoring] Make util from the ModificationObserver module"

[2021-04-06 06:08] gohabereg commented on #1624
Inline tools atm just check if fragment is wrapped with particular tag.
Agree, so some of inline tools (complex ones) wouldnt support both modes, but I think it's a fair price for backwards compatibility considering generating HTML from such format would be a pain point -- we are still receiving questions how to convert JSON back to HTML

[2021-04-06 06:16] gohabereg commented on #1624
Anyway, to implement this feature a lot of things should be done. Right now not all content you see has clear representation inside JS model, Inline Tool is just a piece. We are going to move to model-first approach but it requires proper maintainable and extensible design

[2021-04-06 06:18] jeremyVignelles commented on #1624
I have to admit it was one of my questions too when I started to look into editor.js. Its unusual approach means it's likely not a drop-in replacement for other wysiwyg editors.
With a growing ecosystem, that might be interesting to have server-side JSON-to-HTML and sanitizer libraries in different languages.

[2021-04-06 06:36] gohabereg commented on #1624
We would like to but we just don't have resources for that (even to review and declare some 3rd party solutions as "official"), so we are relying on community here

[2021-04-06 07:14] kaaaaaaaaaaai opened #1630 "[BlockTuneAPI] Can I pass the settings to Tune for each block❓"

[2021-04-06 07:35] gohabereg commented on #1630
Could you provide more details please?

[2021-04-06 07:44] kaaaaaaaaaaai commented on #1630
@gohabereg thanks again for yesterday.

im developing Alignment Block Tune Tool.

default alignment is `left`.
but, alignment `center` the default for the header block.

[code]

[2021-04-06 07:49] gohabereg commented on #1630
Hm, I don't think it should work like that.
I guess you can provide some map to Tune config:
[code]

And inside Tune:
[code]

[2021-04-06 07:59] kaaaaaaaaaaai commented on #1630
hmm,Thanks for the clarification.
It doesn't feel right, but I can't explain the right answer.

[2021-04-06 07:59] #1630 closed, assigned to nobody

[2021-04-06 10:41] zegenie commented on #1623
I want to add a suggestion to allow the `complete()` method, or other methods to populate the list to be async, so that it can also be used for things like inline suggestions based on a server response, such as looking up related documents, linking to things and searching for users.

Apart from that, :+1: on this one.

[2021-04-06 10:43] jeremyVignelles commented on #1623
Indeed, I didn't make it clear, but ajax responses are indeed on top of the wishlist 😄

[2021-04-06 16:54] aletorrado commented on #1009
Any update on this?

Btw, it's specially annoying that plugins doesn't use any encapsulation nor namespacing for class names, so it's very easy to mess up. Now that Shadow Dom is widely supported across all major browsers, it would be awesome to embrace it for editor.js internals as well!

[2021-04-06 18:38] dave5 opened #1631 "[Bug] v2.20.0 sanitises by default"
The output of v2.20.0 has html tags removed by default. This does not happen with 2.19.3.

Steps to reproduce:

1. Use `example.html` and set script for editor to `<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>`

2. Format some of text using basic HTML:

![html 2 20 0](https://user-images.githubusercontent.com/903936/113761351-7418a880-976b-11eb-811d-807ff510fecc.pn

[2021-04-06 21:51] m-sergiy26 commented on #1631
The same problem.

[2021-04-06 23:12] fabian1896 commented on #1631
The same problem.

[2021-04-07 11:17] gohabereg commented on #1631
Will be fixed by #1574

[2021-04-08 04:01] cjmling commented on #935
Not an ideal solution but if you just want things to start working.

https://stackoverflow.com/a/50516783/507203

[2021-04-08 07:44] deniskarpenko opened #1633 "Clearing tags inside <a> if it's inside <p>"
Hello.
When pasting html <p.. > <a ..> <img src = "image.jpeg" </a> </p>. All objects inside <a> are cleaned if it is a child of <p>. Is there any way to avoid this?

[2021-04-08 09:39] tuantmtb commented on #1631
:'(

[2021-04-08 12:05] muster-mark opened #1634 "[Bug] Polyfill promise conflict"
This package seems to polyfill window.Promise, regardless of whether window.Promise already exists. This is causing problems as we are using and relying on our own polyfill (bluebird.js), but this is being replaced if I call new EditorJS().

[2021-04-08 13:34] #1447 closed

[2021-04-08 13:34] #1513 closed

[2021-04-08 13:35] #1469 closed

[2021-04-08 15:09] hata6502 opened #1636 "[Bug] Refactoring based on ESLint"
Describe a bug.

[code]

Expected behavior: The ESLint warning should be fixed.

Editor.js version: 2.20.0

[2021-04-08 19:19] #1625 closed, assigned to robonetphy

[2021-04-08 20:39] jeremyVignelles commented on #1607
Sorry, I didn't see your issue at first, I created a duplicate at #1624

[2021-04-09 01:08] #1636 closed, assigned to nobody

[2021-04-09 01:09] #1577 closed

[2021-04-09 02:13] kaaaaaaaaaaai commented on #1631
The same problem. :::::(

[2021-04-09 10:40] gohabereg commented on #1631
Fixed in v2.20.1

[2021-04-09 10:40] #1631 closed, assigned to gohabereg

[2021-04-10 05:35] kaaaaaaaaaaai opened #1640 "[Bug] [Critical] 2.20.1 BlockTune and Default tunes disappear."
@gohabereg

After I updated the version from 2.20.0 to 2.20.1, Tune disappeared.
Is it a bug?
It seems to happen only when using the BlockTuneAPI.

https://github.com/kaaaaaaaaaaai/editorjs-alignment-blocktune

ver2.20.0
[code]
![image](https://user-images.githubusercontent.com/2194021/114259546-a6dfcc80-9a09-11eb-8c34-8d19796127ec.png)

ver2.20.1
[code]
![image](https://user-images.githubusercont

[2021-04-10 12:30] hata6502 commented on #1439
Rename `toHTML` to `saveAsHTML`

[2021-04-10 15:19] a2800276 opened #1643 "[Bug] [Documentation?/dist] dist/editor.js file not located in master branch"
The Getting Started documentation section "manually load file in your project" links to a non-existent location for the editor.js file.

Steps to reproduce:
1. Go to: https://editorjs.io/getting-started#manually-load-file-to-your-project
2. Click on `editor.js`
3. -> 404

The assembled javascript files are available in the 'release/...' branches. I can't judge whether this is the intended behavior

[2021-04-11 00:26] kaaaaaaaaaaai commented on #1640
https://github.com/editor-js/link/issues/48 same problems,
@talyguryn @neSpecc

![image](https://user-images.githubusercontent.com/2194021/114288145-cfb69f00-9aa7-11eb-80d5-017fb1b93e19.png)
![image](https://user-images.githubusercontent.com/2194021/114288150-d7764380-9aa7-11eb-97dd-c7e89707c915.png)

[code]

[2021-04-11 08:58] neSpecc commented on #1643
Fixed, thanks.

[2021-04-11 08:58] #1643 closed, assigned to nobody

[2021-04-11 10:30] amitrahav opened #1644 "💡 Disable block deletion"
1. Describe a problem.
There is now way I can think of, for forcing users to use a minimum block length or making one of the blocks not deletable.

2. Describe the solution you'd like. Mockups are welcome.
I would like to define at a global level the minimum amount of blocks possible, and disable block deletion under this number.

3. Are there any alternatives?
Or on a block level - should this bl

[2021-04-11 13:35] hata6502 opened #1645 "[Bug] The copied HTML data from Editor.js have wrong <p>"
Describe a bug.
The copied HTML data from Editor.js have wrong `<p>`.
`<p>` can't contain `<h1>`~`<h6>` tags by HTML syntax rule.
https://stackoverflow.com/questions/15656785/should-a-heading-be-inside-or-outside-a-p

Steps to reproduce:
1. Instert the following debug code.

`src/components/modules/rectangleSelection.ts` line 307
[code]

2. Copy an heading block by `ctrl + c` in `example/example-d

[2021-04-11 14:02] amitrahav opened #1647 "Simple way of inlineTool dynamic configuration"
Is there a way of updating inlineTool configuration dynamically?

[2021-04-11 14:21] hata6502 commented on #1515
Really! but it is not documented in https://editorjs.io/blocks#render yet.

[2021-04-11 15:45] syabro opened #1648 "Is merging h3 and p supported"
**Question**
I'm trying to merge P and H3 on https://editorjs.io demo. Is it possible to merge them?

https://user-images.githubusercontent.com/29029/114311082-5dbd7480-9afe-11eb-94aa-eda66685e42e.mov

[2021-04-11 20:38] gohabereg commented on #1648
It's not possible at the moment because merge strategy is provided by the Tool and in general Tool doesn't know about data format of another Tool.
However I think we can convert data formats using conversion config now, what do you think @neSpecc @khaydarov ?

[2021-04-11 20:39] gohabereg commented on #1647
Hi there,
Could you provide your use case please?

[2021-04-11 20:44] gohabereg commented on #1633
Hi @deniskarpenko
It might be related to the bug #1630 which is fixed in v2.20.1. In general, sanitizer config is composed of Tool sanitizer config and configs of Inline Toole your Tool uses.

But if you are trying to paste following markup
[code]

it won't be parsed correctly because Image Tool expects only the image tag, not the anchor.

[2021-04-11 20:46] gohabereg commented on #649
Seems to be not relevant anymore

[2021-04-11 20:46] #649 closed

[2021-04-11 20:48] gohabereg commented on #669
Not relevant for the last version

[2021-04-11 20:48] #669 closed

[2021-04-11 20:52] gohabereg commented on #679
Not reproducible in the last version

[2021-04-11 20:52] #679 closed

[2021-04-11 20:54] gohabereg commented on #1125
Closing due to more descriptive duplicate #1315

[2021-04-11 20:54] #1125 closed

[2021-04-12 22:33] chapterjason commented on #1130
Stil an issue.

Editor.js version:
2.20.0

https://user-images.githubusercontent.com/1337562/114470721-a6088f80-9bef-11eb-840c-29257da452f7.mov

[2021-04-13 01:40] helmiItsavirus opened #1650 "Feature: Add Render setting in Every Toolbox and Custom plugins"
## Summary
Since I made custom plugins/extensions I met difficulties to add render setting that I have been created before to another custom extension.

## Idea
My idea is to activate the render setting that I have created before on every toolbox.

## Example
1. I add an official editors extension such as Paragraph
2. I have a render setting that the inside has
- font family
- line-height
- font s

[2021-04-13 06:22] deniskarpenko commented on #1633
Thanks for the answer

[2021-04-13 06:22] #1633 closed, assigned to nobody

[2021-04-13 07:56] amitrahav commented on #1647
I want to write an inline tool that receives list of columns from a google sheet table (that may change), and to be able to select text and tag it with a column name.
So I used a custom configuration for my inline tool, but it can not be reconfigured when my table changes.

[2021-04-13 10:15] SohaibShafiq1 opened #1651 "How to delete a block programmatically?"

[2021-04-13 15:53] carlsonorozco opened #1652 "[Bug] Unable to delete Raw HTML"
Unable to delete Raw HTML

Steps to reproduce:
1. Go to editor and create a raw HTML
2. Click to tune. Toolbar icons missing

Expected behaviour: Show toolbar icons

Screenshots:
<img width="747" alt="Screen Shot 2021-04-13 at 23 48 22" src="https://user-images.githubusercontent.com/2333279/114582452-2fcd6100-9cb3-11eb-886b-d61cc3f58673.png">

Device, Browser, OS: macOS Google Chrome

Editor.js ve

[2021-04-13 16:19] carlsonorozco opened #1653 "[Bug] Unable to delete Code"
Same behaviour of https://github.com/codex-team/editor.js/issues/1652

Steps to reproduce:
1. Go to editor and create a code
2. Click to tune. Toolbar icons missing

Expected behavior: Show toolbar icons

Device, Browser, OS: macOS Google Chrome

Editor.js version: 2.20.1

Plugins you use with their versions: Code

[2021-04-13 16:56] gohabereg commented on #1652
Duplicate of #1640

[2021-04-13 16:56] #1652 closed, assigned to nobody

[2021-04-13 16:56] gohabereg commented on #1653
Duplicate of #1640

[2021-04-13 16:56] #1653 closed, assigned to nobody

[2021-04-13 17:00] gohabereg commented on #1651
Please use `blocks.delete` method
https://editorjs.io/blocks#delete

[2021-04-13 17:58] OneLoneFox commented on #1647
I also have a use case for updating a block's configuration dynamically
I propose the addition of an updateConfig method or something for the ToolsAPI
I am writing an editor that has several selectable pages (tabs) in an SPA fashion and I need to update the additionalRequestData config of the editor-js/image plugin which right now I'm doing in a dirty way by literally calling
`this.editor.configur

[2021-04-13 18:10] gohabereg commented on #1647
@amitrahav I guess it's not possible at the moment, Inline tools don't have internal state yet

[2021-04-13 18:11] gohabereg commented on #1647
@OneLoneFox Not sure I got it.
If you have different editor's in different tabs I think it's easier to use several instances

[2021-04-13 18:17] OneLoneFox commented on #1647
@gohabereg

That was the original idea the thing is the tabs can be created and deleted dynamically via API calls and managing several instances of the editor seems a bit heavy for updating a single config value so what I did was create a single instance and every time the user selects a tab fetch the data, clear and update the editor instance's data. But maybe you're right and my approach is not

[2021-04-13 18:20] gohabereg commented on #1647
I believe several instances is easier to manage and would be logically correct. You can destroy instance if tab is not active (there'll be a lag because of instance loading, so you can do it only if amount of tabs is greater than N)

[2021-04-14 12:09] wutsi opened #1654 "[Bug] Unable to remove an image block"
The action menu of the image is broken

Steps to reproduce:
1. Add an image to your text
2. Click on the image menu
3. Several option have disapeared from menu: UP/DOWN/Delete

Expected behavior:

Screenshots:

<img width="740" alt="Screen Shot 2021-04-14 at 8 05 35 AM" src="https://user-images.githubusercontent.com/39621277/114707817-a771af00-9cf8-11eb-8e35-c55de64da161.png">

[2021-04-14 19:07] #1640 closed, assigned to gohabereg

[2021-04-15 10:56] susana-bit commented on #1654
Same happens with some other plugins with the editorjs v.2.20.1.
Version v.2.20.0 works fine.

[2021-04-15 12:52] robertvanhoesel commented on #1515
I'm also considering using editor.js and am super excited to start using it and contributing to the project. We will be using it in a project where the contents is always stored and retrieved as HTML from the API. The frontend client I'm working on will be using editor.js, but others might not. I am hoping (albeit with some ducktape) to be able to use editor.js on raw html, save as html and parse

[2021-04-15 13:54] bsodmike opened #1656 "Ability to disable internal tools, see example 💡"
Hi all,

It would be nice if we could disable internal tools via the config rather than having to forking and commenting out this bit of code https://github.com/codex-team/editor.js/blob/next/src/components/modules/tools.ts#L206-L210.

I've used the above mentioned approach to allow a `customParagraph` tool to bind to the `onPaste()` handler.

If there's a better way to do this, please let me know

[2021-04-15 18:37] gohabereg opened #1657 "Do not fail Actions job on version bump if versions are not equal"
Describe a bug.

On PR merge if versions in next and merged branch are not equal, Aciton job fails which misleads because it should be regular exit.

https://github.com/codex-team/editor.js/actions/runs/753058463

Expected behavior:

Job is not failed

[2021-04-15 22:57] wutsi commented on #1654
is there any plan to fix this issue?

[2021-04-16 05:48] talyguryn opened #1658 "Bot does not suggest to bump a version after merge PR from fork"
On merge PR from fork actions-bot has no push access to bump a version.

![image](https://user-images.githubusercontent.com/15259299/114977297-1fbea880-9e90-11eb-8f1c-29bad48046ba.png)

https://github.com/codex-team/editor.js/runs/2344213505

Expected behavior:

Bot should create a PR with a bumped version

[2021-04-16 06:08] talyguryn opened #1659 "Push package latest version to next branch too"
It is not good when in [NPM](https://www.npmjs.com/package/@editorjs/editorjs) a version in next tag is lower than a latest version.

![image](https://user-images.githubusercontent.com/15259299/114977713-cd31bc00-9e90-11eb-9db6-99ac0abd11df.png)

[2021-04-16 08:36] #1651 closed, assigned to nobody

[2021-04-16 08:37] gohabereg commented on #1654
Fixed in v2.20.2

[2021-04-16 08:37] #1654 closed, assigned to nobody

[2021-04-16 11:47] MustafaSange opened #1660 "On save data output do not display as expected"
Describe a bug.
I noticed that on save data output does not show result instead "Block «header» skipped because saved data is invalid"

![HelloWorld](https://user-images.githubusercontent.com/26607758/115018363-6cba7300-9ec0-11eb-9e63-4d986ff2b8b6.png)
![Output](https://user-images.githubusercontent.com/26607758/115018367-6deba000-9ec0-11eb-9bdf-537a08391f66.png)

Expected behavior: It should disp

[2021-04-16 17:09] NogaMan opened #1661 "[Bug] i18n for default tunes not working"
Describe a bug.

Steps to reproduce:
1. Follow [your tutorial on 18n](https://editorjs.io/internationalization) to translate block tunes
2. Realize it does not work

Other translations from the tutorial work well

the version I use is `2.20.2`

[code]

Expected behavior: it works

Screenshots:

![Снимок экрана 2021-04-16 в 20 09 57](https://user-images.githubusercontent.com/10100542/115059826-c2f2

[2021-04-18 21:23] mqtik commented on #873
Yeah, I went with the fork too.

2 years for this is just too long.

[2021-04-19 09:07] ghost commented on #1661
Also image, hyperlink plugins.

[2021-04-19 19:36] guettli opened #1663 "ctrl-k for "create hyperlink"💡"
1. Describe a problem: I type ctrl-k and nothing happens

2. Describe the solution you'd like. I would like to see the "create hyperlink" dialog.

ctrl-k works in many applications (gsuite, confluence, ...)

3. Are there any alternatives? No.

[2021-04-20 06:42] guettli opened #1664 "Start unordered list via "* ..."💡"
1. Describe a problem: I haven want to create unordered lists.

2. Describe the solution you'd like.

I wan to start a list very easy (without using touching the mouse):

Typing "*" at the beginning of a line should start a list. Example:
[code]

This pattern is very common and works in many browsers.

3. Are there any alternatives?
I could use TAB. But `* ...` is much easier.

[2021-04-20 11:09] SohaibShafiq1 opened #1665 "Delete Blocks Editor.js"
[code]
What should i do to **delete block.**

[2021-04-20 13:40] SurielTonatiuh opened #1666 "Editor JS erase can't read strong and em tags in renderFromHTML"
I am trying to convert an HTML content into content for editorJS, however when it transforms it removes the <strong> and <em> tags, how can I fix this?

[2021-04-21 10:47] fkocovski opened #1669 "[Bug] Cannot read property 'holder'/'tool' of undefined"
Describe a bug.

Steps to reproduce:
When trying to manually render data, I keep getting the following error:

![image](https://user-images.githubusercontent.com/9000611/115541413-600e9400-a29f-11eb-9561-5e07ab74b81b.png)

Code looks as follows:

[code]

Also tried the `useEffect` approach like this:

[code]

Please note: with `2.19.3` only the first error appears `Uncaught TypeError: Cannot read

[2021-04-21 11:11] GabrielGil commented on #1576
Hey @dudif91, how did you solve this? I am still getting undefined when importing `LogLevels` in the latest version.

[2021-04-21 11:23] dudif91 commented on #1576
@GabrielGil hey so i used it like this "logLevel: "ERROR" as LogLevels" instead of "logLevel: LogLevels.ERROR"

[2021-04-21 11:28] GabrielGil commented on #1576
Yeah, I was afraid of that. I think the issue should remain opened, since the enum is not correctly exported. Using the enum value should be valid.

Thanks for your answer! :)

[2021-04-21 12:19] georgeciubotaru commented on #1142
@DanSivewright If you still have that problem, you can follow my example
<img width="897" alt="image" src="https://user-images.githubusercontent.com/8217518/115552259-c94cd200-a2b4-11eb-8e67-c8de00673ef4.png">

<img width="845" alt="image" src="https://user-images.githubusercontent.com/8217518/115552158-a3273200-a2b4-11eb-9e44-1020d8fa1583.png">

[2021-04-21 16:21] #1659 closed, assigned to talyguryn

[2021-04-22 07:21] rety14 commented on #1661
In version 2.20.* use **deleteTune**, **moveUpTune** and **moveDownTune**.

### Example
`      blockTunes: {
        "deleteTune": {
          "Delete": "Удалить"
        },
        "moveUpTune": {
          "Move up": "Переместить вверх"
        },
        "moveDownTune": {
          "Move down": "Переместить вниз"
        }
      },`

[2021-04-22 09:30] evanjmg commented on #919
getting this now with read only mode

[2021-04-22 15:20] bencohendev commented on #746
I'm also interested in whether any progress has been made here. I need to be able to intercept and stop `enter`

[2021-04-22 19:00] bencohendev commented on #1424
I'm interested in this as well. Does anyone have a solution?

[2021-04-22 19:53] lennardv2 commented on #1656
Yes, agreed, it should be possible to enable internal tools. +1

[2021-04-27 14:58] balbinott opened #1671 "❓Cursor positon and key pressed"
Is there an example / way to check which position of the block has been changed and what content?

For example, i have a block like:
"This is a test block" and I change it to:
"This is a changed block"
I saw that it triggers the change event, but what parameter do I need to check to know the index and the new words? Thank you and sorry for the inconvenience.

[2021-04-28 14:05] wisnuwijo commented on #1669
Is there any update? I have the same problem

[2021-04-29 17:34] Farrien opened #1674 "[Bug] New builds ruins default plugins"
I already created thread and described everything here: https://github.com/editor-js/embed/issues/68

Assumptions: After Block Tunes API was introduced. Because 2.19.3 or older works good.

Device, Browser, OS: PC, Chrome, Windows 10

Editor.js version: 2.20.0 - 2.21.0 (latest)
Didn't check all versions

Plugins you use with their versions: Embed@latest

[2021-05-02 10:29] IRediTOTO opened #1675 "❓ What setup editor.js so hard?"
**Question**
Just found editor.js but why it so hard to use?
**Context**
I like the way editor.js work. But I just want to setup like demo on homepage of editor.js. But it not work as expect :|
Aleast give users a fast and usefull start to use.

[2021-05-02 10:33] IRediTOTO commented on #1675
With tiny ECM I just need do some steps and get basic tool avalable...
![image](https://user-images.githubusercontent.com/15695252/116810180-70125780-ab6c-11eb-8833-f5a4f3ee8587.png)

[2021-05-04 02:10] williamhakim10 commented on #1501
For those out there looking at this, I was able to hack this by styling the inline toolbar:

[code]

I didn't test this extensively, but seems to work fine. It doesn't quite preserve the location of the inline toolbar (it's always centered, rather than sometimes left-aligned) but I'm sure with a bit more hacking around you could fix that if it's important.

[2021-05-04 06:58] yusokolsky opened #1676 "[Bug] When I convert Text with link to a Bullet List, I lose Link"
Steps to reproduce:
Create a line in
Add a link to it
Select full text and convert it in a bulleted list

Expected behavior: Link remains intact
Observed : Link is lost

video: https://app.usebubbles.com/4kYiPwTkJB7FQu9mFJ5nZ7/comments-on-codesandbox-io

Editor.js version: 2.20.0 - 2.21.0 (latest)

[2021-05-06 10:40] hyun-park commented on #1669
Same here.

[2021-05-07 10:36] marcoancona commented on #908
I tried to get real-time collaboration with Firebase Real-time Database but editor.js lacks fundamental APIs to get this to work nicely.

In particular, without a mechanism to render only some blocks rather than all, a mechanism to pass metadata to blocks or to make individual blocks read-only, it is very hard.

[2021-05-07 10:44] milu2003 commented on #908
editorJS didn't think of this from the beginning of design. Multi person real-time collaboration is not only a problem of local rendering, such as how to undo multi person real-time collaboration?

How to compare the differences between the two versions. It is difficult to develop these functions using editorjs. I gave up

How to recover from one version to another is very difficult

[2021-05-07 11:48] marcoancona commented on #908
My idea was to take advantage of the block nature of the underlying data and to prevent editing a block that is being edited by somebody else, by setting it read-only. Conflict resolution should be easier under the constraint that within the same block there should be no conflicts. Undo only for the changes within the block being edited. This should be possible now that blocks have a unique id. On

[2021-05-07 11:58] milu2003 commented on #908
As for what you said about locking a block for editing, I think the user experience is very bad

At the beginning of my project, I used editor to develop it. Later, I didn't support collaboration well enough. Later, I used prosemirror to reconstruct the project. I found that prosemirror did a good job in this aspect. Editor has been abandoned by me.

You can also try tiptap, based on prosemirror：

[2021-05-07 12:04] hata6502 commented on #908
This issue may be related to... https://github.com/codex-team/editor.js/pull/1606

[2021-05-07 12:32] marcoancona commented on #908
Tiptap seems interesting, thanks for the hint @milu2003. Although, I have to say, that I would prefer a block-based editor to build something closer to Notion/Confluence. And editor.js looks good out of the box.

@hata6502 indeed that would help

[2021-05-07 12:46] milu2003 commented on #908
Block building is not difficult. My current product is also in the form of block, similar to notion, but it's very easy for me to build with prosemirror, just a little more work. But the high degree of customization of prosemirror made it easier for me to build programs. What you said out of the box is both good and bad. Although it's easy to use, once you want more complex functions, I think your

[2021-05-07 14:07] jocelynRS commented on #1676
Having the same issue with links dropped when converted to a list on Editor.js 2.19.1.

Also (related) if I have bold/italics text and make it a link, I lose the bold/italics. Would expect to see a link that maintains the inline formatting.

[2021-05-07 21:33] tonyalaribe commented on #1321
@sunmachines As someone who lived in a developing country, I think this narative of `it's 2020` why worry about size is a bit harmful.
1. Not everyone lives in a developed country with fiber. Even in developed countries like the US and Germany, there are lots of places where all you have is a 2g -3g cell connection. I'm writing this from a regional train in Germany with similar circumstances.
2. E

[2021-05-09 20:22] #1671 closed, assigned to nobody

[2021-05-10 14:19] MarcoZucc opened #1680 "I can't update a block of text after it's creation"
I have a problem when I try to update a block of text after its creation, this is my code:

[code]

I tried to update the block of text using:

`editor_IT.blocks.insert(text_to_insert);`

But don’t wok
The aim would be is:

1) create a block of text with "acbd" for example

2) If user check or uncheck the checkbox I’m going to update the text in the editor area.

[2021-05-12 02:52] cleverplatypus opened #1682 "onChange shouldn't be fired when programmatically setting the editor's content"
**Question**

Is there a way to prevent `onChange` when programmatically set the editor's content?

**Context**

The editor emits `onChange` event when calling `editor.blocks.render(content)` which, short of setting the config's `data` property, seems to be the only way to set the editor's content after initialization.

The problem is that if the `onChange` is used to detect whether a document nee

[2021-05-12 15:15] paperbun commented on #1669
I am also facing the same issue.

After removing the all blocks using CTRL+Z and clicking on the editor, I am facing this issue

[2021-05-13 01:45] williamhakim10 commented on #1680
It looks like you're passing an array of objects to `insert()` which isn't what the API specifies (see https://editorjs.io/blocks#insert). You could try `editor_IT.blocks.insert("paragraph", { text: "Initial text abcd" })`.

[2021-05-13 01:47] williamhakim10 commented on #1665
The API provides a delete method: `https://editorjs.io/blocks#delete`.

[2021-05-13 14:39] MarcoZucc commented on #1680
Ok the solution proposed by   @williamhakim10 works.

In my database i saved data in json format, for example:

[code]

Can i use this string “as is” with insert method or I must extract data in blocks array and the insert in editor block by block ?

There is a simple way to empty or destroy all text previously insert in the edit area and replace with new text ?
I have try with:

`editor.blocks.de

[2021-05-13 21:14] williamhakim10 commented on #1680
@MarcoZucc you can initialize editorjs with that JSON blob, see https://editorjs.io/configuration#passing-saved-data. I don't see an easy way to delete all data and replace it with new data short of iterating over the blocks and deleting them and then inserting new data using the method in my previous comment.

[2021-05-14 18:44] christoph-kluge commented on #1661
@rety14 thank you - blockTunes are now translated again 👍

Besides that it seems that all plugin translations are not working anymore.

[2021-05-14 21:36] christoph-kluge opened #1683 "BlockTunes API should remove "undefined" tune data"
While upgrading from 2.18.1 to 2.21.0 I have discovered that `tunes` is always set and I could have tunes which are `undefined` or `empty objects` depending on their state. This can be easily reproduced with:

[code]

I think if a block-tune is in "default" state it should not be added to the `tunes` array. What do you think?

The relevant code-part is here: https://github.com/codex-team/editor.js

[2021-05-15 00:31] nowakkamil opened #1684 "CRUD via block ID"
Hi,

First of all, I'd like to thank you for creating such a fantastic tool. It has been the core of my bachelor's degree, and I'm profoundly thankful for that. Currently, I've decided to combine CRDT (_YJs_) with _editor.js_ as my degree thesis, but I'm facing some blockers now.

As the title suggests, I'm interested in having the opportunity to perform CRUD operations based on ID. This is vital,

[2021-05-16 10:03] ChasLui commented on #1684
You can fork and modify of source code, you need to implement
1. block id
2. add update(data) method for each Tool, because editorjs only has insert and remove methods, but no update method
I am currently using Yjs in combination with editorjs to implement a collaborative editor, so I recommend using Yjs and prosemirror solution.

[2021-05-17 06:58] kaiz16 commented on #1178
Sorry to bump this old thread. @jgui1129 May I know what you did to make it work? Facing the same exact issue. Thanks

[2021-05-19 13:42] shenxxu720 opened #1685 "❓请问如何粘贴表格？"
我想粘贴word中的表格，请问怎么设置？

[2021-05-20 05:00] BulavinaNk commented on #1682
I have the same problem, using  JSON.stringify is the worse solution, it will taken a lot of time

[2021-05-20 12:53] nikita-ks commented on #1305
[code]

[2021-05-20 13:00] nikita-ks commented on #1305
**"@editorjs/editorjs": "^2.21.0",**

[code]

[2021-05-20 14:50] shenxxu720 commented on #1308
我也同样遇到了这个问题，不知道有没有解决办法？

[2021-05-21 08:55] Broutard commented on #1661
i18n API seems broken since v2.20.0.
All my translation didn't appear since the release (tested with 2.19.3 and works fine).

[2021-05-21 17:01] neSpecc commented on #1684
Understand. The Blocks ids is the new feature, so we haven't updated all the API methods for using id instead of indexes yet. But we need to do that.

You can try to implement it and open a PR.

[2021-05-21 17:02] neSpecc commented on #1684
How many time do you have?

[2021-05-21 17:03] neSpecc commented on #1685
Write in English, please

[2021-05-21 17:03] #1685 closed, assigned to nobody

[2021-05-21 17:05] neSpecc commented on #1675
What exactly is hard?

[2021-05-21 17:08] neSpecc commented on #1663
This feature is implemented. Provide us more details how to reproduce this issue.

[2021-05-21 20:33] danlynkew commented on #1173
This happens to us in our project also, and we eagerly await a solution.

[2021-05-22 00:17] nowakkamil commented on #1684
Thanks, @ChasLui and @neSpecc, for providing more context. I have been considering ProseMirror as an alternative, and [comment ](https://github.com/codex-team/editor.js/issues/1684#issuecomment-841795050) from @ChasLui only cemented my decision.

Unfortunately, even after implementing other methods, I'd still need to take care of cursors, which seems to require more effort than implementing method

[2021-05-23 16:48] ChasLui commented on #1684
We have implemented our own selection-based collaborative cursor, but we have also modified a lot of editorjs source code, making it impossible to merge the latest version of editorjs.
![image](https://user-images.githubusercontent.com/10083758/119269335-c33a7000-bc29-11eb-92ee-bae79a8b2534.png)

[2021-05-23 16:56] ChasLui commented on #1685
你需要修改 paste 中processDataTransfer, 根绝 word 写入剪切板的数据转换成 editorjs 的数据

[2021-05-24 01:59] Georgerozo18 commented on #609
it works, but what you do with the links ?

[2021-05-25 12:56] ilyamore88 opened #1689 "[Bug] Sanitizer leaves only last class from inline tools"
Describe a bug.

Steps to reproduce:
1. Create two different inline tools with the same wrapper tag;
2. Use these tools;
3. Sanitizer leaves only one class.

Expected behavior:
Sanitizer leaves all classes.

Screenshots:
![image](https://user-images.githubusercontent.com/37909603/119500898-f9ced280-bd70-11eb-8cfe-78bbddca0422.png)
Result after saving:
[code]
My sanitizers in inline tools:
`TrueAns

[2021-05-25 12:57] ilyamore88 commented on #1689
Sanitizer works correctly if I write something like:
[code]

[2021-05-25 13:10] hiitsgabe commented on #729
Hey guys,

Any update about this issue?

[2021-05-25 13:24] bsodmike commented on #729
Probably not as helpful given the context but the team I'm with just switched everything over to TinyMCE v5 - it doesn't use the block approach but is surprisingly feature complete and handles content from Word amazingly well.

[2021-05-25 13:29] Teebo commented on #729
@bsodmike I have seen Tiny pretty awesome tool, can I get a JSON Like output from it (Or that is what you meant by it not using the block approach)?

[2021-05-25 13:34] bsodmike commented on #729
As per the docs, JSON output should be possible.

[2021-05-27 09:57] aquibbaig opened #1691 "Any support for React-Typescript projects?"
I was wondering if there are any guides/API references for how to get started with using EditorJS for react-typescript projects? I have been facing a lot of issues with importing types(for toolbar components such as Header, List, etc.)

[2021-05-27 12:17] talyguryn opened #1692 "Workflow fails while "latest" tag is being added"
![image](https://user-images.githubusercontent.com/15259299/119824305-6d521a80-befe-11eb-9fc5-0bba107653c9.png)

But package is published correctly

![image](https://user-images.githubusercontent.com/15259299/119824376-822eae00-befe-11eb-9562-5cb890faa1a0.png)

[2021-05-27 14:12] #1692 closed, assigned to talyguryn

[2021-05-27 17:54] ronaldohoch commented on #1616
Maybe this can help.
https://github.com/angular/universal/blob/master/docs/gotchas.md

[2021-05-28 10:14] NogaMan commented on #1419
![Снимок экрана 2021-05-28 в 13 13 42](https://user-images.githubusercontent.com/10100542/119968850-8a4a2480-bfb6-11eb-9ac1-a7422be9abe9.png)

How can we do such thing?
Is there a way to customize toolbar?

[2021-05-28 14:48] neSpecc commented on #1419
You can do it with some CSS overrides

[2021-05-28 16:35] quantruong-2518 opened #1695 "REMOVE IMAGE BLOCK AFTER CANCEL UPLOAD"
I want to delete the image block after i cancel upload file window. Now your lib is showing button file.

[2021-05-28 16:59] quaidesbalises commented on #729
@bsodmike  what is it exactly ?

[2021-05-28 21:40] stephannv commented on #1661
I'm using v.2.21.0 and followed docs example (https://editorjs.io/internationalization#example) and didn't work `blockTunes`, `stub`, `Add a link`.

[2021-05-29 06:55] quantruong-2518 commented on #843
How can i get only the lastest value with onchange. When i upload image, the callback emit empty object first @.@

[2021-05-30 06:53] kevinxqi commented on #1009
Any update?

[2021-05-30 11:12] efeerdogru opened #1696 "💡Add note plugin"
A plugin to add notes to selected words (like in Word) would be very useful. Thanks.

[2021-05-31 16:56] jggc opened #1699 "[Bug] Deleting multiple selected blocks sends onChange event for only one block"
Steps to reproduce:
1. Write multiple blocks
2. Select them
3. Delete them
4. only one onChange event is sent for one of the blocks, nothing for the other blocks

Expected behavior:
Receive one onChange per block or a list of affected blocks in the change

[2021-05-31 17:01] jggc commented on #1689
We have the same issue, we implemented comment using a mark and the classes are not merged when we enable our inline tool and the marker plugin at the same time.

Our tool adds an "editor-comment" class and the marker tool "cdx-marker", both define their own class in the sanitizer but either class gets deleted by the other sanitizer.

In short, we expect the sanitizer to merge the allowed classes

[2021-05-31 17:03] jggc commented on #1682
Same problem for us, there should be an option when inserting or updating a block where we can specify whether the onChange callback will be executed.

Another option would be to configure our onChange callback when we register it to specify which type of change we want to listen to.

[2021-06-01 01:58] mhmttosun opened #1700 "Accessing Paste Event at Editor Level"
Hi,
i want to clean copied MS Word paragraf before Paste event.
Is there a beforePaste event?
how can i access paste event on editor api like onReady, onChange or editor.save()

Thanks

[2021-06-01 04:54] chsdwyl opened #1701 "ReferenceError: window is not defined"
ReferenceError: window is not defined
    at Object.<anonymous> (D:\project\editor.js\node_modules\?[4me?[24m\node_modules\?[4m@editorjs?[24m\editorjs\dist\editor.js:2:198)
?[90m    at Module._compile (internal/modules/cjs/loader.js:1068:30)?[39m
?[90m    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1097:10)?[39m
?[90m    at Module.load (internal/modules/cjs/loader.js:933:32)?[

[2021-06-01 13:02] ndlss-prcrstntn opened #1702 "[Bug] Switching to readonly mode with an empty editor"
Describe a bug.
If you switch the editor to read-only mode after initialization, an error appears:
`System.Exception: Cannot read property 'holder' of undefined`

[code]
Editor.js version: 2.22.0

[2021-06-02 09:08] spadgeaki commented on #1691
Hello, I was researching the same issue for few days and these are some useful finds:
- https://github.com/hata6502/editorjs-examples
- https://github.com/Walkthroughs/editorjs-with-react
- https://github.com/Walkthroughs/editorjs-react-tool

[2021-06-02 09:34] aquibbaig commented on #1691
@spadgeaki Thanks for the references!

[2021-06-02 13:00] ksydex commented on #727
We really need that ability

[2021-06-02 13:09] jggc commented on #1699
The bug is worse than expected : only one of the blocks is actually deleted in the editor's internal structure.

If we call editor.save() the other deleted blocks are still returned, only one of them is actually deleted.

[2021-06-02 19:16] milkmanjr commented on #1204
I'm able to reproduce this issue. When the **.ms-editor-squiggler** div is after the **ce-paragraph** div, a backspace deletes all the content in that block.

[2021-06-03 06:26] #1691 closed, assigned to nobody

[2021-06-03 17:58] alxndr commented on #806
Would also love to see this feature added.

[2021-06-04 09:04] svengau opened #1704 "[Bug] On mobile, a combination of delete / enter duplicates some text"
On mobile, a combination of delete / enter duplicates some text

Steps to reproduce:
1. Go to https://editorjs.io from an mobile (tested on Android).
2. delete a space
3. press enter,
4. delete the return carriage,
5. press enter again

Expected behavior: text should not be duplicated

Video: https://www.youtube.com/watch?v=pqdHnzmnU2w

Device, Browser, OS: Oneplus 5T, Brave, Android 10

Editor.js

[2021-06-04 09:14] svengau opened #1705 "[Bug] Ctl A twice + Ctl-V doesn’t replace the whole content of the page"
Copy some text, then on official demo, select all content (ctrl A + ctrl A) and try to paste. Nothing happens.

This is a minor bug, because a quick workaround is to delete the text prior to paste the content of the clipboard.

Steps to reproduce:

1. Copy some text
2. Go to https://editorjs.io
3. Select all content, by typing ctrl A + ctrl A
4. Try to paste

Device, Browser, OS: Macbook Pro, Chro

[2021-06-04 09:17] svengau opened #1706 "[Bug] Ctrl-Z doesn't work after deleting the whole content"
Ctrl -Z doesn't work after deleting the whole content

Steps to reproduce:

1. Go to https://editorjs.io
2. Select all content, by typing ctrl A + ctrl A, and delete it
4. Try to cancel the deletion by type ctrl Z. Nothing happens

Device, Browser, OS: Macbook Pro, Chrome 91, Catalina

Editor.js version: the one on the official website

[2021-06-04 09:22] svengau opened #1707 "[Bug] Ctrl-Z doesn't work after pressing Enter"
Ctrl -Z doesn't work after pressing Enter.

Steps to reproduce:

1. Go to https://editorjs.io
2. Anywhere in the code, press Enter
4. Press Ctrl + Z. Nothing happens. I would expect the Enter char to be cancelled.

Device, Browser, OS: Macbook Pro, Chrome 91, Catalina

Editor.js version: the one on the official website

[2021-06-04 13:02] b2m9 commented on #1036
Ran into this problem when building a statically rendered SvelteKit app. The build process fails because the package is trying to load `window` as soon as it is loaded.

[2021-06-06 11:26] IssaMokdad commented on #670
The rtl feature is broken, I am setting the direction to rtl in i18n config, but it doesn't work. any idea regarding the issue?

[2021-06-07 08:22] ErriourMe commented on #1327
Still doesn't work (2.22.0)...

[2021-06-07 15:49] bibhuticoder opened #1708 "Is there a limit on size of JSON blocks ❓"
**Question**

Is there a limit on size of JSON blocks ? The warning from browser console doesn't seem very clear.

**Context**

I am trying to save uploaded image to `JSON blocks` on base64 format.

**Comments**

It works when base64 image is removed from `JSON blocks`. So, I think there may be issue with handling large input.

![image](https://user-images.githubusercontent.com/8759270/121049630-9

[2021-06-07 15:59] bibhuticoder commented on #1708
Sorry! There is no such limit

Figured out the real issue

It was indeed a "plugins error"
I forgot to return HTML element on 'render' method of the plugin

[2021-06-07 15:59] #1708 closed, assigned to nobody

[2021-06-08 15:48] danlynkew commented on #1669
I have this issue also. Eagerly awaiting a solution.

[2021-06-10 19:49] robonetphy commented on #1327
Hey, guys sorry for the late reply,
it is due to the documentation error please use the below configuration as a reference example:

    i18n: {
          /**
           * @type {I18nDictionary}
           */
          messages: {
            /**
             * Other below: translation of different UI components of the editor.js core
             */
            ui: {
              "blockTunes": {

[2021-06-10 19:57] neSpecc commented on #1327
Thanks @svenpl @robonetphy . I've updated the doc for I18n API. Please, check.

[2021-06-10 19:57] #1327 closed

[2021-06-12 19:32] ErriourMe commented on #1327
@robonetphy It still doesn't work with "tools" section exactly.

[2021-06-13 14:39] danpalmieri commented on #1669
Same here!

[2021-06-13 15:10] bmknaidu555 commented on #1669
@danlynkew & @danpalmieri. I just wanted to know in which case you are getting this issue. In my case, I am getting this error while using the "editor-js undo" plugin. After I uninstalling that plugin this error is gone.

[2021-06-14 16:54] xiaohui-zhangxh commented on #1419
if editorjs extract Toolbar into an individual plugin, or make it configable to override default Toolbar renderer, that's would be great. For my current project, we are going to make a Toolbar like Notion.so

[2021-06-16 10:11] mhmttosun commented on #729
Hi,
When writing online it is a common behavior to copy some text and paste in editor. Clean word paste will encourage usage of this awesome editor. Some editors (CKEditor, TinyMCE, Froala, WordPress Gutenberg etc..) supports copy and paste from MS Word. People may want to make use of their word files content. I am not mean copying lots of word pages and pasting editor. There should be character l

[2021-06-17 08:04] softmarshmallow commented on #838
Any updates on 2021 Q3?

[2021-06-17 15:42] mhmttosun commented on #518
Hi,

without Undo/Redo operation, it is really very hard to use editor.

[2021-06-18 10:13] mhmttosun opened #1710 "Roadmap 2021 plan"
Thanks for this awesome block style editor. It is really amazing work.
I am wondering if there is a roadmap for future development. I couldn't find one.

I am curios what core team plan/think about following issues and what core team plans for the future.

Collaboration support #908
Full featured Table support
Copy / Paste support  #729
Full featured Undo / Redo support

[2021-06-19 07:00] ilyapoz commented on #1423
Still reproduced in next. Can you please look into it, very annoying and basic functionality.

[2021-06-24 09:35] Chester97 commented on #1481
Bump, I still have this issue

[2021-06-24 15:22] chisomgbata commented on #1239
@CavalcanteLeo How did you solve it ???

[2021-06-24 15:25] CavalcanteLeo commented on #1239
yarn remove editorjs

Kidding but it's true, i have changed editorjs to ckeditor5

Too many bugs in here, too many features missing. Too closed for changes and no support at all

@chisomgbata

[2021-06-24 17:00] chisomgbata commented on #1701
Are you using nuxt js?

[2021-06-24 17:32] chisomgbata commented on #1239
I just removed it and I am using tiptap now
Ckeditor is just an overkill for my project, but i will really miss how editorjs gives me a json to work with
@CavalcanteLeo

[2021-06-25 10:51] robonetphy commented on #1327
@ErriourRU Please check this PR #1711 for fix

[2021-06-25 16:41] mpbae2021 opened #1712 "How to start a plugin on user click on a pinned button"
I would like to know if it is possible to call a plugin through a button that is not in the tools

Because I'm thinking about creating a tools fixed at the top of the form.
  I would like to do something like this

EditorJs.configuration.tools.paragraph.start()

[2021-06-26 14:06] russelshane commented on #1682
Spent hours trying to make editorjs collaborative and add auto save feature. In part of that, onChange event shouldn't be fired everytime the editor instance changes, best (but not good) solution I ever had was to artificially slow down the editorjs component.

[2021-06-26 16:34] bmknaidu555 opened #1713 "💡Add a new member to output JSON ===> ["status" = "changed/unchanged/deleted"]"
Hi,

Thanks for making such an useful editor.

Is it possible to add a new member to the output JSON of each block. Let say I am writing an article and it has an 100 blocks of data.
Now, if the content in any of the block gets changed, I would like to add new member to the output JSON i.e. "status=changed/unchanged/deleted".

Example:
=====

{
   "time":1620998181753,
   "blocks":[
      {

[2021-06-26 23:15] pankajcomorade commented on #1701
Hi @chisomgbata ,
I am using it with angular 10.0.0. When I create my SSR build(Angular Universal).It gives **Window is not defined**

**Error Copy from console. Please see:**
**ReferenceError: window is not defined
    at Object../node_modules/@editorjs/editorjs/dist/editor.js**

![image](https://user-images.githubusercontent.com/7919559/123528066-7b17dd00-d702-11eb-8aff-70f096739cfb.png)

[2021-06-27 06:13] chisomgbata commented on #1239
I am using prose mirror now, I dont like ckeditor
@CavalcanteLeo

[2021-06-27 06:28] CavalcanteLeo commented on #1239
Actually I'm using tinyMCE, i confused when I said ckeditor.

[2021-06-27 10:14] chisomgbata commented on #1701
I have not used angular before but the concept of server side rendering is same, to fix the issue make sure you are importing editorjs to only client side, so do some research on how to render some elements or component or script in only client side

[2021-06-27 13:35] maziyank commented on #1705
Me also experience this. Happened when I try to copy list block and then Ctrl+A and Ctrl+V to other block.

[2021-06-28 10:06] #1661 closed, assigned to gohabereg

[2021-06-28 12:29] ghost opened #1715 "[Bug] I18n api tools not working"
Steps to reproduce:
1. insert
` tools: {
    image: {
      class: ImageTool
}
},
i18n: {
    messages: {
      tools: {
        image: {
          'Test': '123'
        }
      }
    }
}`
2. Call method in any tool. For example Image
`this.api.i18n.t('Test');`
3. Always return 'Test'

[2021-06-28 12:43] talyguryn commented on #1715
works for me on 2.22.1

config
![image](https://user-images.githubusercontent.com/15259299/123638114-76007e00-d827-11eb-8cc2-2d46cae922cb.png)

usage
![image](https://user-images.githubusercontent.com/15259299/123638152-80bb1300-d827-11eb-92f7-decea5094767.png)

console
![image](https://user-images.githubusercontent.com/15259299/123638173-89abe480-d827-11eb-994f-4e52e289ae7a.png)

[2021-06-28 12:50] ghost commented on #1715
Thanks, i changed version 2.22.0 to 2.22.1 and works

[2021-06-28 12:50] #1715 closed, assigned to nobody

[2021-06-28 14:03] neSpecc commented on #1710
We were thinking about a collaborative editing feature at editor.js. At the moment we are designing schemas and documentation, making investigations and experiments about improving our data-model to make it possible.

It will require lots of work with the editor core and APIs. And it will be the Editor.js 3.0. I can't say when it can be released because of our busyness. We will start working on it

[2021-06-28 14:11] neSpecc commented on #1713
Since the 2.22.0 version, the `onChange` callback accepts changed Block. You can use it for your purposes.

Also, in the same release the [blocks.update(id, data)](https://editorjs.io/blocks#update) method have been introduced.

[2021-06-28 14:12] #1713 closed, assigned to nobody

[2021-06-28 14:14] neSpecc commented on #1707
Duplicate https://github.com/codex-team/editor.js/issues/518

[2021-06-28 14:14] #1707 closed, assigned to nobody

[2021-06-28 14:14] neSpecc commented on #1706
Duplicate https://github.com/codex-team/editor.js/issues/518

[2021-06-28 14:15] #1706 closed, assigned to nobody

[2021-06-28 14:18] neSpecc commented on #1701
Duplicate https://github.com/codex-team/editor.js/issues/1036

[2021-06-28 14:18] #1701 closed

[2021-06-28 14:18] neSpecc commented on #1616
Duplicate https://github.com/codex-team/editor.js/issues/1036

[2021-06-28 14:18] #1616 closed, assigned to nobody

[2021-06-28 14:20] neSpecc commented on #716
Angular supported. For SSR issues follow this thread https://github.com/codex-team/editor.js/issues/1036

[2021-06-28 14:20] #716 closed

[2021-06-28 14:22] neSpecc commented on #1695
The issue is related to the [Image](https://github.com/editor-js/image) tool

[2021-06-28 14:22] #1695 closed, assigned to nobody

[2021-06-28 14:25] #1684 closed, assigned to nobody

[2021-06-30 20:43] MakarovCode commented on #835
@christoph-kluge could you share your custom onReady handler for toggling on hover?

[2021-06-30 21:19] christoph-kluge commented on #835
@MakarovCode there you go: https://gist.github.com/christoph-kluge/c367f987935bc4381e52183f73696cc4

[2021-07-01 00:00] MakarovCode commented on #835
@christoph-kluge nice!, this is just what I needed! Thanks!

[2021-07-01 02:04] MatthewCaseres commented on #709
This would be great. unified.js tools might work for this as well.

[2021-07-01 03:30] ChasLui opened #1716 "💡 data.text to mark node like ProseMirror"

[2021-07-01 09:28] osain-az commented on #689
@urielaero  is it possible to provide more details about the 'removed' method like what data is passed to the method, give a case study or how is the original ''removed'' method implemented.
Thanks

[2021-07-01 16:01] urielaero commented on #689
The method is called without parameters, however you can access the data via `this.data` (https://github.com/editor-js/image#output-data).
[code]
Config example (https://github.com/editor-js/image#config-params)
[code]

Finally remember to correctly register your own image_tool implementation (https://editorjs.io/configuration):
[code]

[2021-07-02 09:53] Darktimeoff opened #1717 "Lifecycle hook💡"
In the current version of editor js 2.22.1, the editor proposes only two lifecycle hooks it`s onReady and onChange, it`s not enough for developing, it's no a problem if I have the ability for the captured native event, but the editor stop the propagation of the event and I can`t detect, please add more lifecycle hooks for example blur, focus, it`s without hook very hard to work.
Thank you for your

[2021-07-02 12:16] thangdjw commented on #609
Great jobs.

Vào Th 3, 20 thg 10, 2020 lúc 15:29 Mahmoud Abouchandi <
***@***.***> đã viết:

[2021-07-03 14:05] aquibbaig opened #1718 "❓inlineToolbar does not render in a custom block API"
I was trying to have a custom blockquote but when I provide `inlineToolbar: true`,  it doesn't render the toolbar at all. I tried to set `margin-left` property to check what's happening here but no luck

<img width="1440" alt="Screenshot" src="https://user-images.githubusercontent.com/26324376/124356774-8e143b00-dc35-11eb-9c24-65cf83a689d9.png">

I also have created a public jsfiddle for folks to

[2021-07-04 19:49] denemier commented on #1710
hey, a quick question about block based wysiwyg editors in general.
is it technically possible to develope image,media support inside block table? or does block based editors have a limit so  it cant have another block inside another?
and where can i learn how to develope block based editor? any source?

[2021-07-04 23:07] brenojac commented on #1710
Hello,

I've got the same question and wonder if, for example, will it be possible to insert an image into a table column and hyperlink it, for example. Thats a feature I used in other non-blockbased editors... editor.js is so great. I hope it evolves more and more in the upcoming future. Congrats on this amazing work.

[2021-07-05 13:44] aquibbaig commented on #1718
EDIT: fixed it as follows:
- the div should be content-editable
- don't make nested divs
- use some default classes provided by editorjs
- see some sample implementations (e.g. https://github.com/editor-js/paragraph/blob/master/src/index.js), hope that helps!

[2021-07-05 13:44] #1718 closed, assigned to nobody

[2021-07-05 13:47] aquibbaig commented on #1718
Forgot to mention: Revisit the above fiddle for updated changes now.

[2021-07-07 05:40] #1543 closed

[2021-07-08 10:34] osain-az commented on #689
@urielaero  thanks for the information and help.

[2021-07-08 20:11] laygir commented on #1503
Hello 👋

I am having this problem when switching from a regular input to EditorJS input by pressing `tab` key while there are multiple EditorJS instances present on the page.

Below is the demo page to reproduce the error. When the page loads first click on the input and then press `tab` then notice the error.

https://codesandbox.io/s/editorjs-cgsmq?file=/src/App.vue

[2021-07-09 00:43] itsMarydan commented on #781
I sent my editor.js data to MongoDB but when I get it back I am not able to pass it into the editor. I retrieve it using await

[2021-07-09 06:42] Ted-Millie-Lab commented on #1436
[code]

[2021-07-09 22:15] Zachiah opened #1720 "💡 Readonly Content While still being able to edit formatting"
1. Describe a problem.
I'm making a Bible integrated into my app and I want users to be able to markup the Bible text (with editor.js) but not be able to actually change the content.

2. Describe the solution you'd like. Mockups are welcome.
Ideally something like
[code]

3. Are there any alternatives?
I don't think so. I would love to hear of any though!

[2021-07-10 06:21] dhwaj1902 opened #1721 "How can I use Editor.js in ReactJs?"
When I install the package it is showing the error ``Can't resolve '@editorjs/editorjs'``

[2021-07-10 07:05] hata6502 commented on #1721
https://github.com/hata6502/editorjs-examples/tree/main/examples/ExampleReactBlockTool

[2021-07-13 18:00] MakarovCode opened #1723 "Why is the data attribute of each block not accessible when getting a block by Index or Id?"
First, this library is awesome!
Is there a specific reason why I can not access the current data structure for a block when doing something like this? Or am I missing something?.

[code]

All I can access from the block object is...

[code]

[2021-07-13 18:04] MakarovCode opened #1724 "How can I avoid the deletion of a block when using the backspace key?"
I have created some custom blocks, but if I have a Header, Paragraph, or any other textbase block after my custom block, it is deleted immediately when getting the backspace on the last character of the textbase block.

Is there a way to avoid this behavior for certain blocks?

[2021-07-13 18:05] #1724 closed, assigned to nobody

[2021-07-13 18:05] MakarovCode commented on #1724
Sorry it was duplicated ([https://github.com/codex-team/editor.js/issues/1450](https://github.com/codex-team/editor.js/issues/1450))

[2021-07-13 18:07] MakarovCode commented on #1450
Any way to solve this issue?

[2021-07-15 10:54] zeinabzahran opened #1725 "Settings Block"
Hi, How to hide the whole settings block for specific tools?

[2021-07-15 20:28] alxndr opened #1726 "[Bug] copy-and-paste formatted text does not preserve formatting"
Steps to reproduce:
1. Add text to editor instance
2. Select a word and make it bold
3. Select another word and make it a link
4. Highlight the text
5. Add a new text block, and paste the text
6. Note that the text is pasted in without the bold formatting and link, and is also missing the space between the bolded word and the linked word (see screenshot)

Expected behavior:
* the pasted text inclu

[2021-07-15 21:09] deshetti commented on #1419
@xiaohui-zhangxh We are trying to create a similar toolbar like Notion as well with EditorJS. Did you have any luck with doing so? Would be great if you can share some pointers on how to go about achieving it?

[2021-07-16 09:36] woren951 commented on #1726
I have fix on it issue #1686. Waiting for approval :)

[2021-07-16 11:59] ChasLui commented on #1419
We have implemented a notion-like toolbar, but have forked and modified the editorjs source code

[2021-07-16 18:04] LeePJr commented on #1481
I'm working on this issue too.  Right now I am trying to figure out how to 'lock' the block on paste or update the blocks data.

[2021-07-17 11:36] rbsl-yasmin opened #1727 "Customize location of toolbar"
I wanted to toolbox/toolbar to be opened all the time and it should be displayed at the top of the editor. like that
![image](https://user-images.githubusercontent.com/20413818/126035589-efef6e40-f18d-402f-9cfe-9d2b625e6697.png)
instead of clicking on +, the toolbar should always be opened at the top of the editor.

is there a way to modify the location of the toolbar?
Thanks

[2021-07-18 08:48] zeinabzahran opened #1728 "💡Add comments tool"
It will be amazing to add a comment plugin in inline toolbar!

[2021-07-18 08:52] zeinabzahran opened #1729 "Creating an inline tool is not Working!"

[2021-07-19 12:11] deshetti commented on #1419
@ChasLui Thanks a lot for your response. Is this the fork you are referring to? https://github.com/ChasLui/editor.js

Could you please point me to the relevant changes? Thanks again!

[2021-07-19 14:53] arnav-and-projects opened #1730 "How to add indent functionality, is it available?"
When I press tab indent does not occur, so I am curious if this feature is available?

[2021-07-19 17:16] wmonecke commented on #1721
https://github.com/Jungwoo-An/react-editor-js

[2021-07-19 17:33] wmonecke opened #1731 "How do I create an initial editor state?"
When a user creates a new document I would like to initialize the document with a heading with some text.
I know I can manually create an empty state, but this would mean getting the package version from my package.json.
Is there any built-in way to create a blank state?

[2021-07-19 18:32] #1721 closed, assigned to nobody

[2021-07-19 18:36] alxndr commented on #1726
@woren951 wonderful, thank you!

[2021-07-20 08:44] wmonecke commented on #908
@marcoancona @milu2003 I will see if [https://togetherjs.com/](https://togetherjs.com/) is a good solution for this problem.

[2021-07-20 12:13] laygir commented on #873
Shouldn't this issue be closed?
v2.21.0 release says: `New - Blocks now have unique ids #873`
or am I missing something?

[2021-07-20 12:19] neSpecc commented on #873
Thanks, @laygir, you're right.

This feature is implemented by #1667 and released in 2.21

[2021-07-20 12:19] #873 closed

[2021-07-20 19:21] mes01 commented on #1527
Are there any solutions?

[2021-07-21 13:35] wmonecke commented on #908
Have you guys looked at this issue? #1155 Looks promising!

[2021-07-22 12:02] Bhumi101097 opened #1734 "Set Header level and list type based on different shortcuts"
How can we set different level of headers directly based on the shortcuts?
For example
H1- CMD+OPTION+1
H2- CMD+OPTION+2
H3- CMD+OPTION+3
H4- CMD+OPTION+4

Similarly for different style of  list -ordered and unordered list

I was trying to change config based on shortcut to set level.  I had created new shortcut and on callback of that shortcut, was trying to set Level. This approach did not work

[2021-07-22 14:47] mbolli commented on #1009
Yep, came here while trying to build a web component with editor.js, but with CSS in the wrong DOM it's not feasible. Another problem is that CSS is not distributed in the packages (except in the js bundle file), so can't incorporate it in the build process either.

[2021-07-22 20:10] philipaarseth commented on #1471
Would appreciate if this was removed asap. I don't see any reason why it would make sense to apply this (or anything for that matter) globally.

[2021-07-26 09:47] wmonecke commented on #819
@mrfambo Did you manage to get collaborative editing working?

[2021-07-26 14:22] iDGE90 opened #1735 "Angular 12 compilation warning"
When compiling Angular 12 application which uses the editorjs (^2.22.1) editor, compilation warning persist.

![image](https://user-images.githubusercontent.com/23116557/127004500-c06911ba-1cf5-43ec-9e74-786c851ac134.png)

[2021-07-28 14:11] kurucu opened #1736 "💡Include the ID for each block to enable auto-scroll by anchor"
1. Describe a problem.
If a search functionality is implemented (For example) to search blocks across many editors, it would be useful to be able to send a user straight to the right editor and block for a search item.

2. Describe the solution you'd like. Mockups are welcome.
I think it would be easy - add the ID of the block as the ID of the parent HTML tag by default.

3. Are there any alternat

[2021-07-31 13:54] wmonecke commented on #1684
@ChasLui Hi there! Would you share your fork of editor.js with collaboration support?

[2021-07-31 13:57] wmonecke commented on #1612
@milu2003 could you share with us how you achieved this?

[2021-07-31 15:08] milu2003 commented on #1612
@wmonecke like that

[2021-08-02 07:14] egorvdovenko commented on #1320
I have same problem in my Vue app and fixed it by call `editor.destroy();` from `destroyed` lifecycle hook of my component, that using editor.

[2021-08-03 08:47] akshymalvia opened #1738 "[Bug] unable to get all the blocks of editor, in rendered hook of a newly inserted block"
I'm trying to get all the blocks in the editor, inside `rendered` hook of a block, but it's returning an empty array, like there's no blocks in the editor.

Steps to reproduce:
1. you have to setup an editor instance with some blocks already in it
2. then define a `rendered` hook in another block and try to get the edtor blocks within that hook
3. you'll get an empty array, instead of the array co

[2021-08-04 16:47] ngmiduc commented on #1446
That's a cool feature to have!!!!

[2021-08-05 00:11] alxndr commented on #1400
I see this error in v2.22.2, when testing a custom Tool in a headless environment (using [Cypress](https://www.cypress.io/)).

Using `.click({force:true})` allows the tests to pass.

[2021-08-05 02:08] sejyc opened #1739 "Get error 'getBlockByIndex() is not a function' in VUE file."
**Get error 'getBlockByIndex() is not a function' in VUE file.**

Editorjs version: 2.22.2

Code of my editorjs.vue :
[code]

code of my course-video.js:
[code]

I created a custom block plugin for editor and import it in vue file, i want to access function of custom plugin class in vue,
I refer to the official sample page for BlockAPI (https://editorjs.io/blockapi) to implement that, at run time,

[2021-08-05 10:05] cdllqos opened #1740 "[Bug] api.blocks.render empty blocks cause "Cannot read property 'holder' of undefined""
Describe a bug.

Steps to reproduce:
1. When editor is prepared
2. Call `api.blocks.render({blocks:[]})`
3. Click editor，throw `Cannot read property 'holder' of undefined`

Expected behavior:  editor works no error

Screenshots:
![image](https://user-images.githubusercontent.com/25027791/128332412-c5864547-3903-4f7a-9956-94025ab37644.png)

Device, Browser, OS:

Editor.js version: 2.22.2

Plugins y

[2021-08-07 13:16] Muntader commented on #676
I've created a simple package for Laravel framework work with JSON validation using editorjs-php  <a href="https://github.com/Muntader/laravel-editorjs-html">
laravel-editorjs-html</a>

<h3>Support</h3>

- Header
- Paragraph
- Table
- List
- Delimiter
- Code
- Quote
- Embed
- Image
- Checklist
- Link
- Raw

Thank you codex-team

[2021-08-07 16:17] jbarrantesr92 commented on #1036
I am using Angular 11, and I get the window error during ssr only when define `const editor = new EditorJS ()`. If I put a comment block on this, then I don't get the window error even when the module is imported, and I can see my app in the server without the editor of course. I tried IsPlatformBrowser, but this does not work. I read about creating a shime module, but I'm not sure how to make it

[2021-08-09 16:01] sethmichaelbrown commented on #1494
@tkrevh - for us, the `blocks` api is not exposed until `onChange` is fired, so `editor.blocks` is undefined. Any thoughts on why this might be?

The project is running the latest version (2.22.2) and we are using EditorJs inside React. Attempting this solution within the `onChange` (the only place where `editor.blocks.renderFromHTML()`) is defined, leads to an infinite loop issue (which makes sen

[2021-08-09 17:23] russelshane commented on #451
This might be the one you're looking for, although, it needs a backend that has a search functionality, should be easy if you already have a backend API running:

@mrpritchett/editorjs-mentions

[2021-08-09 18:19] tkrevh commented on #1494
@sethmichaelbrown are you making sure the isReady promise is resolved?
`await editor.isReady`

Before trying to access editor.blocks?

[2021-08-09 18:23] tkrevh commented on #1494
@entonee you need to implement your own upload function. I've implemented it so that I get a signed AWS S3 upload link from our backend API and then upload to S3 directly from the browser.

[2021-08-09 19:03] sethmichaelbrown commented on #1494
@tkrevh - I am logging the editor instance within the onReady function. editor.isReady appeals to be fulfilled. I tried adding await editor.isReady within the onReady but got the same result. Any additional insight would be awesome.

Thanks for your reply!

[2021-08-09 19:09] tkrevh commented on #1494
@sethmichaelbrown can you post your code from initialization to where the blocks is undefined?

[2021-08-09 20:01] sethmichaelbrown commented on #1494
Sure -

[code]

And the output of the `console.log` -

[code]

[2021-08-09 20:22] tkrevh commented on #1494
@sethmichaelbrown see what happens, if you create the editor instance first and before the end of the initEditor method call await editor.isReady before accessing editor.blocks...
You will need to make the initEditor async.
Also see if you can drop the onReady method handler you have in there.

[2021-08-09 20:38] sethmichaelbrown commented on #1494
Do you mean something like this? Not sure if I follow totally. Thank you for helping me understand!
[code]

[2021-08-09 20:44] tkrevh commented on #1494
Close. I meant something like this:
[code]

Then just call initEditor with a valid html as parameter.

[2021-08-10 14:21] tkrevh commented on #1494
Here's an example if you're struggling: https://codepen.io/tkrevh/pen/GRmPwYe

[2021-08-10 14:42] sethmichaelbrown commented on #1494
@tkrevh - this worked perfectly! Thank you very much for all your help!

[2021-08-11 01:50] RocMark opened #1747 "[Need Help]Custom inline tools importing"
first thanks for creating this clean and useful tools !

hey i wanna know how i can load my custom inline tool on editorJs instance
i just follow the guide here https://editorjs.io/creating-an-inline-tool
but i didn't see how can i load the plugin
[code]

[code]

[2021-08-11 13:32] rk opened #1748 "[Bug] Pasted link cannot include spaces"
I kept getting a front-end validation error when checking a link my client provided. Here's a sample one:

    http://www.example.com/my-document v12.3.xslx

This is a valid URL when URL encoded to:

    http://www.example.com/my-document%20v12.3.xslx

The average person who uses these code editors won't know about spaces in URLs, and most other tools tolerate the spaces. My search turned up this

[2021-08-12 23:22] bharatn opened #1749 "How are nested tags handled (ol inside a div)?"
Hey EditorJS team,

First of all. great tool. I have more faith in this after abandoning draftJS and slateJS.

I have this html

[code]

I am using the list plugin

The rendered HTML is

[code]

ol tag is fine but my div tag with the className is missing in the generated HTML.

div tag with className is also missing in the save output. ol is fine.

[code]

Am i missing another plugin to handle div

[2021-08-13 07:48] #1747 closed, assigned to nobody

[2021-08-13 07:49] RocMark commented on #1749
same here

[2021-08-16 23:01] abdessamadely opened #1750 "[Bug] TypeError: t.some is not a function"
When adding CodeTool `@editorjs/code`, It does cause this bug
I used the example from [editorjs.io](https://editorjs.io/) homepage

Steps to reproduce:
1. Go to [editorjs.io](https://editorjs.io/) homepage
2. Open the console
3. Create a new Code block
4. Write something
5. You should see the error on the console

Expected behavior: To not throw this error

Screenshots:

![TypeError: t.some is not

[2021-08-17 06:19] komaldembla commented on #518
This is awesome @juanhurtado10!! But, if you have empty blocks in between the data, they are lost while pressing `Ctrl + Z`

https://user-images.githubusercontent.com/20125027/129673632-f1ec0d96-123f-46b2-b1b7-fc32fbe5089c.mov

[2021-08-17 07:10] natsumework commented on #1357
How can I deal with this problem?
It seems like clone interface not released yet.

[2021-08-17 20:21] juanhurtado10 commented on #518
Hey, @komaldembla thanks for reporting.

Just added a new issue in the plugin repo
https://github.com/kommitters/editorjs-undo/issues/53

Could you please drop the following information there?
* Device, Browser, OS:
* Editor.js version:
* Plugins you use with their versions

Best,
Juan!

[2021-08-17 22:57] Forsakenrox commented on #1624
Awesome feature that i trying to find on very continious period. This feature available in editors and sites like yandex or facebook, they use the same aproach when user write stylish text (paragraph block in case of this library) and making the post with media (video\image or any other widget). All what this library need - is option for change output type for stylish blocks like bold or italic an

[2021-08-18 04:45] komaldembla commented on #518
Thanks @juanhurtado10! I've updated the details on [this issue](https://github.com/kommitters/editorjs-undo/issues/53) itself

[2021-08-18 13:11] ChasLui commented on #1624
Is it possible to replace inline html with [quilljs/delta](https://github.com/quilljs/delta)

[2021-08-18 14:40] Ivanezko commented on #1750
Same here. Had to rollback to 2.19.3 in a while.

[2021-08-18 19:49] abdessamadely commented on #1750
Thanks, I was looking for a version to rollback, I'll try it out 🙏.

[2021-08-19 05:23] RickGove opened #1751 "[Bug] TypeError Cannot read property 'didMutated' of null"
Describe a bug.
WIll throw error ```TypeError Cannot read property 'didMutated' of null``` at times

Steps to reproduce:
1. Leave a page using Editor.js
2. See the error
3. (Also happens at other, random times)

Expected behavior:
If there is nothing to check didMutated on, return instead of throwing an error

Screenshots:
![image](https://user-images.githubusercontent.com/63856101/130012306-a2ef9

[2021-08-20 11:14] carbonrider commented on #1474
I have created custom plugin for EditorJS. Based on certain criteria, I want to find the position of the block, but there is no option to do that. The current API requires index, or id but that information is not available. Is there any way to find index or id of the current block from plugin itself?

[2021-08-20 12:12] jtlindsey commented on #678
I also don't think third party wrappers are the best option. Every third party module you add to your project is one more security or privacy risk to monitor. Note it might be helpful to make a "recipes" directory with simple one page files like "Using with Nuxt.js", "Using with React.js", "Using with Angular", etc. Here is an example of how I used it in a Nuxt.js project:

# Using with Nuxt.js (2

[2021-08-20 12:25] carbonrider opened #1752 "How to get the index of the block in plugin?"
**Question**
How to get the index of the block in plugin?

**Context**

I am using Editor JS to implement a custom editor. Based on some logic, I highlight a block matching to criteria. While doing this, I realised that there is no way to know the index of the block. Note that the block is not selected or focused. Is there any way to get index of the block in the plugin. I see there are various me

[2021-08-21 11:36] enkota opened #1755 "[Bug] Pasting multiple paragraphs of text makes block output null"
Noticed that if you try pasting a few paragraphs of text into the editor the blocks data output will return null. Adding a space after will update the data, but not great if someone pastes a few paragraphs and saves.

Steps to reproduce:
1. Go to the editor demo page - https://editorjs.io
2. Empty the editor fully and paste in the following text:

[code]

3. Look at the data preview below the edit

[2021-08-21 23:38] mrspence commented on #1138
_Yes, my solution does work, you basically keep track of the instances yourself in an array, identified by the holder element._

[2021-08-23 03:10] samchan0221 commented on #1751
I was also seeing this message on 2.22.1
2.22.2 seems to have fixed it

[2021-08-23 04:36] ShebangDog opened #1756 "Allow OutputData to accept custom type💡"
1. Describe a problem.
can not apply custom type to blocks in OutputData easily

2. Describe the solution you'd like. Mockups are welcome.

- currently:

[code]

- solved:

[code]

- code for solve
[code]

3. Are there any alternatives?

[code]

if you use this, you can write code such as follows

[code]

[2021-08-23 05:03] ShebangDog commented on #1756
https://github.com/codex-team/editor.js/pull/1757

[2021-08-23 05:17] hata6502 commented on #1756
https://github.com/hata6502/editorjs-examples/blob/main/examples/ExampleEditorJSData.ts#L21

[2021-08-23 05:19] ShebangDog commented on #1756
thanks you

[2021-08-23 05:19] #1756 closed, assigned to nobody

[2021-08-23 14:44] sisindrymedagam opened #1758 "self is not defined: Angular SSR Support"
Hello,

I have integrated editor.js in my Angular SSR. when I was trying to load the editor route, the node server encountered an error saying `self is not defined`. Please help with it.

The complete error log.
[code]

[2021-08-23 16:36] lxtadhamnawito opened #1761 "Error: Editor's content can not be saved in read-only mode"
I'm using EditorJS as my rich text editor, but I'm using readOnly option, as I don't want the user to edit what is written unless he press on a specific button.
So whenever the user start to edit it and try to save it, I got this `Error: Editor's content can not be saved in read-only mode`

read-only option is mentioned in the [documentation here](https://editorjs.io/tools-api), but it doesn't men

[2021-08-23 16:53] neSpecc commented on #1761
It is the correct behavior. Editor in the read-only mode does not allow saving, and throws an error when you programmatically tries to save it.

[2021-08-23 16:55] lxtadhamnawito commented on #1761
@neSpecc So what should I do to allow it save data, and at the same time allow read-only for the Editor itself (as I toggle it when the editor is OnEdit mode read-only = false).
Or what I'm saying above is not doable at all?

[2021-08-23 17:23] neSpecc commented on #1761
I can't understand what you want to achieve. Editor in read-only just shows passed data. You can't change it. So what do you want to save if you already have data that you pass to the editor?

[2021-08-24 01:13] lxtadhamnawito commented on #1761
@neSpecc I want to save the data if the user edit it. As I can press edit button for example which sets Editor's "readOnly=false" so it become editable and add some headers and paragraphs then press save.

So I have 2 cases:
1- readOnly = true --> where I display the data only that I have.
2- readOnly = false --> (on pressing edit) where some data are added/deleted and save them back again.

[2021-08-24 03:31] #1758 closed, assigned to nobody

[2021-08-24 03:32] sisindrymedagam opened #1762 "self is not defined: Angular SSR Support"
Hello,

I have integrated editor.js in my Angular SSR. when I was trying to load the editor route, the node server encountered an error saying `self is not defined`. Please help with it.

The complete error log.
[code]

[2021-08-24 07:08] ThemeMetro opened #1763 "How to disable default paragraph tool"
The question.

How to disable default paragraph tool?

[2021-08-24 09:25] MustafaSange commented on #1660
Any update of the above issue?

[2021-08-24 13:28] antonfrolovsky commented on #1689
Same problem using custom ```<mark>``` with data attributes.

[2021-08-24 13:44] Slavetz commented on #1689
The same case. It will be grateful if we can use something like this:
[code]

[2021-08-26 11:37] RobertNafikov opened #1768 "[Bug] Inline toolbar does not change its position after editing the text"
If you end the selection in the middle of a word, and then delete this selected text, the toolbar does not change its position and does not hide.

If, for example, enter a large text, then select and delete all of it, the page will remain long - due to the fact that the position of the toolbar will be style="top: xxxx px;"

Steps to reproduce:

1. Go to https://codepen.io/bertn/pen/WNOvber?editors

[2021-08-26 15:00] sisindrymedagam commented on #1036
Hello,

I have integrated editor.js in my Angular SSR. when I was trying to load the editor route, the node server encountered an error saying `self is not defined`. Please help with it.

The complete log goes here...
[code]

If there is a Solution, Please Suggest.

[2021-08-26 16:26] natsumework commented on #1357
@neSpecc Will this feature be released?

[2021-08-26 21:54] tkesgar commented on #1036
For those who still encounter this issue, the problem is that the package's code references browser-specific APIs when executed on server, which does not provide browser-specific APIs. This is an issue with most browser-intensive packages that interact and manipulate browser DOM, since adding a special check for SSR is just not worth it (leads to a lot of `if-then-else` and edge cases).

To work a

[2021-08-27 09:26] RickGove commented on #1751
Thank you, this fixed it!!!

[2021-08-27 09:29] neSpecc commented on #1751
Looks resolved

[2021-08-27 09:29] #1751 closed, assigned to nobody

[2021-08-27 17:23] ittaboba commented on #1726
Thanks @woren951 for the fix!! Does it keep formatting from external text too? (e.g. Copy-paste from Wikipedia paragraph with links). Could you please approve it @gohabereg? Thanks guys, amazing stuff!! 💯

[2021-08-28 06:59] lishaoxin123 opened #1769 "Whether the toolbar displayed when the plus icon is clicked can be customized as a drop-down list"
Hello, can you only add plugins to the toolbar, can you click the plus icon or the focus icon to display a drop-down menu and put all the plugins in this drop-down menu

[2021-08-29 09:03] luyang12138 commented on #1727
+1

[2021-08-29 09:32] unityoxb commented on #1755
I also found the same problem. After copying the content from other places, if there is no change, the content is empty after submission.

[2021-08-30 09:11] #1762 closed, assigned to nobody

[2021-08-31 22:24] sethmichaelbrown opened #1771 "Turn off mobile styling or pass custom breakpont💡"
1. Describe a problem.
Currently, the breakpoints are fixed at 650px. This unfortunately does not work in our project. There does not appear to be a clear way around this breakpoint.

2. Describe the solution you'd like. Mockups are welcome.
Ideally, I would like to be able to pass a custom breakpoint or `mobileStylingDisabled: true` to the initial Editor config. I looked into how to make the cust

[2021-09-01 05:36] ChasLui commented on #1728
Throw all command executions out of the operation, so that it is easy to collaborate

[2021-09-01 05:43] dancinlife opened #1772 "[Bug] I can't multi line selection via iPhone safari"
Describe a bug.

I can't multi line selection via iPhone safari

Device, Browser, OS: iOS

Editor.js version: editorjs@latest

[2021-09-01 07:12] zeinabzahran commented on #1728
Thanks for replying,
I am glad that you love the idea, actually I was thinking about adding it
as an inline tool where the user marks/ highlights the text that he wants
to add a comment to, then a side menu bar will appear with the
highlighted word and an input field text. The question now is how to show
the comments? This can be done by adding an indicator to the editor, when
the user presses on

[2021-09-02 20:16] Eonasdan commented on #1728
Google Docs seem like a great example of how something like this could work.

[2021-09-02 21:32] Eonasdan commented on #1537
Here's what I ended up with. Main body background color is `#171717` and font color is white.

![image](https://user-images.githubusercontent.com/1006516/131918900-71d17c1b-e940-4af5-a63f-bf22f983d4d6.png)

[code]

[2021-09-03 08:38] vishal-kushwaha-itorix opened #1773 "hyperlink not changing"
when i try to change hyper link its not updating.
`export const PLUGINS = {
	checklist: {
		inlineToolbar: true,
		class: Checklist,
	},
	code: CodeEditor,
	divider: Divider,
	linebreak: LineBreak,
	embed: {
		class: Embed,
		inlineToolbar: true,
		config: {
			services: {
				youtube: true,
				codepen: true,
				instagram: true,
				imgur: true,
				twitter: true,
			},
		},
	},
	header: {
		inl

[2021-09-03 13:49] Broutard commented on #1755
+1 Pleassssssse fix this bug, it's very annoying :(

This bug appeared in the 2.22.0 release, the debug log is
![image](https://user-images.githubusercontent.com/1552045/132018079-d71db656-9903-4faa-89bf-6538c426b603.png)

[2021-09-03 22:41] intrigus-lgtm opened #1774 "[Security] Potential (minor) security problem."
Hi, could you please create a new [draft security advisory](https://help.github.com/en/github/managing-security-vulnerabilities/creating-a-security-advisory) and
[invite me](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-collaborator-to-a-security-advisory) to it?
Any other private communication channel would also be fine.
I think I've found a potential security probl

[2021-09-04 02:16] lcanavesio commented on #1527
Any update?

[2021-09-04 18:40] LouwC opened #1775 "Is it possible for the onChange function to ingore the update function . Such that the onChange function is only activated by user changes?"
Is it possible for the onChange function to ingore the update function . Such that the onChange function is only activated by user changes?

I am trying to implement realtime collaboration with the firebase realtime database. Where I listen for changes by other users and then update the blocks accourding to the changes. The current problem is an infinite loop is created when I try to update any da

[2021-09-07 07:16] saurav2799 opened #1776 "Fixed Toolbar, Sticky Toolbar"
1. Describe a problem.
We are looking to have option of fixed toolbar. This is particularly useful for less internet savvy users, so they can identify the toolbar and format options. so far our team was unable to find this option in the docs / demos (env: reactjs setup)

bonus: if toolbar can stick at top of the content box/div, so users can scroll comfortably on long documents.

2. Describe the s

[2021-09-07 08:08] MightyPhoenix opened #1777 "Is there a min-width for the editor when the panel comes down❓"
**Question**

On small width the editor options (block options panel) drops down, it there a way to prevent that from happening?

**Context**

We are working on a chrome extension and and the width of the window is very small and the panel comes below, but it's a bad User experience, we want the original minimalistic design that editor js offer (the plus sign on the left and options on the right o

[2021-09-07 09:01] woren951 commented on #1763
You can specify default Tool.

From [types/configs/editor-config.d.ts](https://github.com/codex-team/editor.js/blob/65b86c92038694a80e6311377b510be439806863/types/configs/editor-config.d.ts#L28)

[code]

[2021-09-08 06:07] shikharsrivastava commented on #1508
Any updates on this?

[2021-09-08 13:35] Aarbel commented on #940
@neSpecc do you have more infos about this external printing tool ?

[2021-09-08 13:37] Aarbel commented on #518
So is that supported now ?

[2021-09-08 13:37] Aarbel commented on #518
@komaldembla, how did you added the "+" icon on the line ?

[2021-09-08 13:52] Aarbel opened #1780 "Feature request: Live collaboration edition"
1. Describe a problem.
It would be great to allow users to edit an editor.js document in the same time

2. Describe the solution you'd like. Mockups are welcome.
Absolutely similar than Notion

[2021-09-08 14:42] christopher-caldwell commented on #900
I found this thread by looking for how to type pre-existing plugins that do not provide types.

In case anyone else has issues **just getting TS to chill when using other people's plugins**
This works on v `2.22.2`

[code]

Then the error goes away when using them

[code]

[2021-09-08 14:54] Aarbel commented on #1504
@Reached have you found more infos about this ?

[2021-09-08 22:01] juanhurtado10 commented on #518
@komaldembla @Aarbel

Have you guys tried the following config? I think this allows the [undo plugin](https://github.com/kommitters/editorjs-undo) to recover the empty blocks.

[code]

let me know if worked for you!

Best,
Juan

https://user-images.githubusercontent.com/1649973/132592356-07366fb1-227a-42b5-ad22-ae9e48517610.mov

[2021-09-09 07:06] komaldembla commented on #518
Thank you so much @juanhurtado10. It works like a charm!!

[2021-09-09 13:59] Srinjana commented on #1777
yes i agree

[2021-09-10 02:04] breezes1 commented on #1299
branch: next, version: 2.22.2

![image](https://user-images.githubusercontent.com/18281070/132787065-635be0fa-d5aa-4b32-bb25-d94e41bafd28.png)

![image](https://user-images.githubusercontent.com/18281070/132787033-5d7f6604-0fa3-4b7d-a4a3-1a52ba3c5953.png)
![image](https://user-images.githubusercontent.com/18281070/132787271-2b65694d-a45f-41a0-9bb6-94809758159d.png)

[2021-09-11 13:41] ThemeMetro commented on #1763
but after this the toolbar option is not available to select another tool/block, that's why want disable this permanently.

[2021-09-13 16:04] nguyenduc308 commented on #676
Hi there, please give me a way to save blocks to database.
how can i save to json column ?

[2021-09-14 16:25] 11ume commented on #1776
I am also really interested in this feature, any news?, is it possible to achieve this currently?

[2021-09-16 08:07] Chaitanya-yash commented on #1036
+1
I have tried all possible soultions out there and unable to solve it still

[2021-09-16 08:30] Teebo commented on #1036
@Chaitanya-yash if you have domino installed, try

[code]

[2021-09-16 10:11] Chaitanya-yash commented on #1036
@Teebo Yeah man. I did try domino. Ediotr.js still throws an exception about the window. Had the same problem with Localstorage but that is gone now. This one has been haunting me for a couple of days now.

[code]

[2021-09-16 10:25] Teebo commented on #1036
@Chaitanya-yash so you've also tried?
Note the 'self' being defined

[code]

[2021-09-16 10:30] Reached commented on #1504
@Aarbel good question, I think I ended up using TipTap instead, and then wrote my own custom thing to do it :/

[2021-09-16 10:48] Chaitanya-yash commented on #1036
@Teebo Yeah, I am getting the window error right now upon multiple builds. Self is not coming up
`ReferenceError: window is not defined`

[2021-09-16 10:51] Teebo commented on #1036
@Chaitanya-yash can you share you `server.ts `code?

[2021-09-16 10:57] Chaitanya-yash commented on #1036
@Teebo
[code]

[2021-09-16 11:03] Teebo commented on #1036
@Chaitanya-yash let's start by trying to move the below

[code]

Move it underneath

[code]

[2021-09-16 11:05] Teebo commented on #1036
@Chaitanya-yash the below works for me, I talk it from somewhere online, I still need to make sense of it all. Because some lines use `win` some use `window`. But yeah, that works for me
[code]

[2021-09-16 13:01] Chaitanya-yash commented on #1036
I spun up a new Angular universal project, added EditorJS to it, initialised it  `new EditorJS() `and I put everything on top in server.ts. It errored out giving the same error. @Teebo Thanks for helping out. Let me try something else.

[2021-09-16 14:50] MakarovCode commented on #1761
I had the same need, I forked the library and did a modification to the next file: **src/components/modules/api/saver.ts**

[code]

I basically added a (force=false) to the getter method so you can do:
[code]

[2021-09-16 14:59] Chaitanya-yash commented on #1036
@Teebo Can you share your the versions for Angular and EditorJS that you are using?

[2021-09-16 15:00] b2m9 commented on #1036
Can you please use the discussion forums of this repo to sort this out? Thanks.

[2021-09-16 18:16] Broutard commented on #1755
Same behavior in your [website ](https://editorjs.io/):
![image](https://user-images.githubusercontent.com/1552045/133664029-4c7df9be-b3ab-4328-8e18-e76e7bdeac94.png)

[2021-09-21 18:31] smostafad commented on #1592
Hello , I want to change the json file dynamically, that is, the user fills in the information on the site and downloads the new json file. Can you help me?

[2021-09-21 18:32] smostafad commented on #1713
Hello , I want to change the json file dynamically, that is, the user fills in the information on the site and downloads the new json file. Can you help me?

[2021-09-21 18:36] smostafad commented on #1070
Hello , I want to change the json file dynamically, that is, the user fills in the information on the site and downloads the new json file. Can you help me?

[2021-09-21 18:38] smostafad commented on #676
Hello , I want to change the json file dynamically, that is, the user fills in the information on the site and downloads the new json file. Can you help me?

[2021-09-21 22:29] juanhurtado10 commented on #518
Hey everyone!!

We just released the [`v0.3.0`](https://github.com/kommitters/editorjs-undo/tree/v0.3.0) of the Undo/Redo plugin. It:
* Adds support for custom keyboard shortcuts.
* Adds compatibility for the `react-editor-js` wrapper.

All the info is in the [Readme](https://github.com/kommitters/editorjs-undo).

Hope it helps 🍻  ... feedback is really appreciated :).

Best
Juan

[2021-09-23 07:34] nimahajan commented on #899
I am experiencing same problem. Why is setToBlock returning false all the time?

[2021-09-23 15:05] rk opened #1788 "[Bug] So, how do I insert AND link an image?"
You cannot add a link to an image. Why does it look like this needs a plugin? Isn't this HTML editor 101?

Steps to reproduce:
1. Go to [https://editorjs.io](https://editorjs.io)
2. Click on the editor
3. Try to add a link to the CODEX image.
4. Try to add an image within a link.
5. Try to add a linked image, without resorting to using raw HTML code...

Expected behavior:

- I kinda expect to be a

[2021-09-24 13:19] 2ik opened #1789 "[Bug] icons disappear in dynamically created instances"
Hello, first of all, thank you for Editor.js

I am working on an Editor.js integration for Django. I am facing a problem that I cannot solve. If there is already an editor.js instance (but it is hidden) and other instances are created dynamically, then icons lost in the dynamic instances.

Gif:
![Peek 2021-09-24 16-43](https://user-images.githubusercontent.com/6692517/134677299-bc7dc3c2-31f9-487f-

[2021-09-26 10:44] siddiquiaffan opened #1790 "How to implement Editor.js in nextjs?"
How to implement Editor.js in nextjs?

I tried to implement Editor.js in Nextjs but I failed to do it.

Here is my code.
[code]

Error:
[code]

Can someone help me to implement EditorJs in NextJs?

Code: [https://stackblitz.com/edit/nextjs-mckpbw?devtoolsheight=33&file=pages/editor.js](https://stackblitz.com/edit/nextjs-mckpbw?devtoolsheight=33&file=pages/editor.js)

[2021-09-27 10:34] e4coder commented on #945
Something like this should work
[code]

[2021-09-28 19:15] vasiliy-l commented on #1699
I was able to overcome this issue using the `onChange` callback by calling the `api.saver.save()` with a small delay. 🤷‍♂️
https://editorjs.io/configuration#editor-modifications-callback
https://editorjs.io/saver#save

This approach also helped me to fix related issue when editor doesn't save pasted multi-line text https://github.com/codex-team/editor.js/issues/1755.

[code]

[2021-09-28 19:16] vasiliy-l commented on #1755
I was able to overcome this issue using the `onChange` callback by calling the `api.saver.save()` with a small delay. 🤷‍♂️
https://editorjs.io/configuration#editor-modifications-callback
https://editorjs.io/saver#save

This approach also helped me to fix related bug when editor doesn't delete multiple blocks at once https://github.com/codex-team/editor.js/issues/1699

[code]

[2021-09-29 14:40] hcherchi commented on #1617
This is one of the biggest thing that's missing in this Editor. Thanks for opening this!

[2021-09-30 16:20] sethmichaelbrown commented on #920
I am still seeing this bug in v2.22.2. I am creating a multiline MUI input via a custom plugin. The plugin renders a target `div` then I use `ReactDOM.render` to append a React component to the target.

Any time I hit enter within the MUI multiline text area, I get a new block. I have tried listening for `keydown` and using `e.stopPropagation()` as well as `e.preventDefault()` and `return`. None o

[2021-10-01 07:08] widn-dev-io commented on #1790
I am facing the same thing, have you got the solution?

[2021-10-04 07:07] EugeneGohh commented on #1036
This is how I fixed it:

`const Editor = dynamic(() => import("./Editor"), { ssr: false });`

[2021-10-04 14:20] Haraldson commented on #1503
Still seeing this with 2.22.2, using `react-router-hash-link` to scroll to header blocks in the editor. I guess it’s EditorJS is complaining about HashLink’s focus management, which is trying to give focus to the heading contenteditable.

[2021-10-05 08:32] tovbar opened #1792 "Editor.js working with Safari's "Reader Mode""
Hello everyone,
We're using Editor.js on our WordPress project and we noticed that Safari browser isn't showing the text content in "Reader Mode". We checked the source code of the page and we noticed that Editor.js isn't actually updating the HTML DOM, so the source of the page doesn't have the content which is shown on the front-end.

Example: When we use regular WordPress's "Text Block" element

[2021-10-05 17:42] ShahriarKh commented on #670
Is this implemented? If so, can somebody please explain how to use it?

RTL/LTR buttons in Word:
![image](https://user-images.githubusercontent.com/31452340/136075128-93a251d9-ed4d-4dc3-9cf4-202069c79588.png)

[2021-10-06 04:25] rudyharrelson opened #1795 "Managing Unexpected Line Breaks in Paragraph Blocks"
**Question**

Hello. I am integrating EditorJS into a React project I'm working on and have occasionally run into issues where the formatting/parsing of white space or line breaks gives me results I'm not expecting. I suspect this might be due to a misunderstanding on my part on how EditorJS handles text, or how pasting text from other sources is handled.

**Context**

I'm using EditorJS in a Reac

[2021-10-06 15:08] nishalk01 commented on #1750
Thanks Ivanezko,That worked

[2021-10-07 07:45] morgan-blondellet opened #1796 "Can't get the SimpleImage plugin to show"
Hi all,

this is my first time using editorjs and i can't seem to make SImpleImage work. I have the simpleImage js file on my projetc, i added the needed config `image: SimpleImage` but i can't add a block image. Am i doing something wrong ? I installed some other plugins that work just fine.

[code]

[2021-10-07 07:47] ChasLui opened #1797 "use block id replace index by all method"

[2021-10-09 17:21] aquibbaig commented on #1502
@demil any fix on this yet? this troubles me too

[2021-10-13 09:10] nfantone commented on #1494
@tkrevh While your solution works, it seems to be very limited in what it can do. For example, pasting `<strong>`, `<em>`, `<br>` or `<table>` tags doesn't seem to work (even after initializing `@editorjs/table`).

To see what I mean, try using the following as the input for your `initEditor` function:

[code]

[2021-10-13 18:59] thopaw opened #1800 "[Bug]"
When using an inline tool the editor worked not correct when the inline tag is removed completely  (e.g. using backspace) and then you type again.

I created my own version of the mark-inline-tool which adds some data attributes to the mark-tag. When I remove the highlighted tag and re-type again, it inserts a <font> tag with some styling.

The bold and italic tool is working but I guess that is o

[2021-10-19 09:28] Lexita-LT commented on #1446
+

[2021-10-20 16:22] WowItsDoge commented on #1776
This would be a realy nice feature.

[2021-10-20 17:17] pawelbajgrowicz commented on #1676
Does anyone know whether this issue will be fixed in the future releases?

[2021-10-23 19:10] WowItsDoge commented on #1258
Have you implemented this functionality?
I guess it would be useful for other developers and for tasks like #1780.

[2021-10-24 21:40] tknappra commented on #1387
@neSpecc @gohabereg I feel as tough the answer here is a bit open ended,

Can you show, or at least guide in the right direction, how one might actually go about implementing that in the tool?

I think that anybody reading this can understand the logic/idea behind that as it seems to make a lot of sense, but I don't think anyone looking at this can easily connect the dots in order to implement it

[2021-10-25 19:34] Meraj commented on #1262
@sis-dk thanks, your code give me the idea of how to get data from outside of our plugin, this is my code for who has the similar problem (Vue)
![carbon (3)](https://user-images.githubusercontent.com/26744790/138758300-0cc1157f-fb31-4ed3-b184-47ac553813ec.png)

and inside the media component we have:
[code]

[2021-10-28 01:12] kaaaaaaaaaaai commented on #1772
i have same ploblems

[2021-10-28 12:16] f1nality commented on #1305
These are half-way solutions, DOM elements are jumping while text blocks are rendered.
Ability to render synchronously would be perfect

[2021-10-29 10:23] afiqiqmal opened #1802 "Usage with TailwindCSS"
How to make EditorJS works with tailwindcss? Currently Tailwind is overwrite the heading styling. Is there any changes could be made?

[2021-10-30 11:17] ngmiduc commented on #985
Thanks for the solution.
If someone wants to a React Overwrite. I paste it here, if maybe someone looks for that.

[code]

[2021-10-31 21:46] mqtik commented on #1790
NextJS is running that server-side, that's why it doesn't work.

Throw a useEffect there, and set a state on mount. That'll only be executed client-side, and show <EditorJS /> when that state is true.

[2021-11-01 11:24] polyrainbow opened #1803 "[Bug] Async onPaste handlers not recognized"
When using an async function as an `onPaste` handler in a tool, the tool's `pasteConfig` is not recognized by editor.js. The problem is [this check here](https://github.com/codex-team/editor.js/blob/4e7b33c2b89d184726fab7c7ca9c3f784183773f/src/components/modules/paste.ts#L293). The function [`isFunction`](https://github.com/codex-team/editor.js/blob/4e7b33c2b89d184726fab7c7ca9c3f784183773f/src/com

[2021-11-02 12:56] Vadimkin commented on #1802
You can install [@tailwindcss/typography](https://github.com/tailwindlabs/tailwindcss-typography) and wrap editor component with `<article class="prose">...</article>`

[2021-11-03 11:51] JoeWoodward commented on #1633
I think this is actually related to the HTMLJanitor logic. I've just been debugging another issue I've been having and noticed this logic

https://github.com/guardian/html-janitor/blob/master/src/html-janitor.js#L32
https://github.com/guardian/html-janitor/blob/97f27765f95dc912476a7cac9b06036a310d7846/src/html-janitor.js#L89

I also found a bug with tables that is related to this issue. IMO this s

[2021-11-05 10:34] Rubix982 commented on #844
How does this work exactly? I'm using NextJS, Material UI, and EditorJS together at the moment.

As expected, I get the class names,

![image](https://user-images.githubusercontent.com/41635766/140497079-6375824c-e0f7-47cd-8d78-84c82746d5d8.png)

I write CSS to over ride those,

![image](https://user-images.githubusercontent.com/41635766/140497180-63172e78-691e-4b36-9381-f7befefbcf57.png)

As expe

[2021-11-06 13:22] wfmonster commented on #1790
In my search I found this recent medium article on this.
https://medium.com/@sfazleyrabbi/next-js-editor-js-complete-setup-guide-7136c8bb694e

[2021-11-06 13:40] Eloi-Perez commented on #1790
Thank you, that looks very helpful

[2021-11-07 07:33] siddiquiaffan commented on #1790
Yep. Unfortunately the same code is working for me.

My code:
[code]
Stackblitz Link: https://stackblitz.com/edit/nextjs-mckpbw?file=pages/editor.js

[2021-11-07 07:33] #1790 closed, assigned to nobody

[2021-11-09 15:21] cfclaudio opened #1808 "How to change the color of the placeholder?"
I have tried adding `.ce-paragraph[data-placeholder]:empty::before {
  color: red;
}
` to my stylesheet but it does not work.

[2021-11-09 15:32] neSpecc commented on #1808
could you show a reproducible demo page?

[2021-11-12 03:46] batiyeh opened #1812 "How to always display the add button"
How can I always display the add button instead of only showing it on new blocks? I'd like to copy Notion on this so that the user can always click + to add a block under the current one.

[2021-11-12 05:26] christopher-caldwell commented on #1740
YES! I thought I was insane, the same thing is happening to me with v2.22.2

[2021-11-12 06:41] #689 closed

[2021-11-12 06:42] #697 closed

[2021-11-12 06:43] #847 closed

[2021-11-15 23:10] chrisparnin commented on #1179
Gif recording of the same error. Seems having issue with backspace + contenteditable items (and deleting line break content).
![bug](https://user-images.githubusercontent.com/742934/141866879-4ea0f391-0ca9-437b-8748-c2284656dc1f.gif)

Code from stack trace, crashing inside the function passed to the `.every()` call:

[code]

[2021-11-15 23:22] chrisparnin commented on #1179
Fix might be to simply guard the reference to `focusNode.childNodes.length`:

https://github.com/codex-team/editor.js/blob/9cdda110dac04c70cf137ef324085e5326c448ec/src/components/modules/caret.ts#L89

[2021-11-16 12:09] RobinDev opened #1813 "💡Get data from the BlockAPI"
1. Describe a problem.
From a tune plugin, I would like to be able to get data from the current blockI (so in the block API).

2. Describe the solution you'd like. Mockups are welcome.

Just add the method (see PR).

[2021-11-16 13:04] #1813 closed, assigned to nobody

[2021-11-17 18:25] akronbook commented on #1009
I found an easy workaround to be able to use editorJS inside a web component. When designing your web component with your favorite framework (e.g. stencilJS, LitElement, Fast Element, etc.), create a <slot></slot> as a placeholder for the editor.  Since slot can be styled from outside (e.g. via a Document-level CSS), EditorJS will just work inside the web component.

Here is some pseudo code for y

[2021-11-18 07:26] yjun1989 commented on #1728
I have created comment plugin in inline toolbar ,but I want show it in the block left upon side,  maybe has to add some code in editor js.

[2021-11-20 02:25] ChasLui commented on #1728
@zeinabzahran
You may encounter a lot of comments rendering causing performance problems, you may need virtual scrollbars

[2021-11-21 13:51] emad-elsaid opened #1816 "[Bug] Master branch doesn't build"
Describe a bug.

Steps to reproduce:
1. Cloned the repo
2. installed dependencies with yarn
3. run `yarn build`

Expected behavior: to build the project in `/dest`

Ouput:

[code]

[2021-11-21 14:13] emad-elsaid commented on #1816
I was missing `yarn pull_tools` before building

[2021-11-21 14:13] #1816 closed, assigned to nobody

[2021-11-21 20:59] newlegendmedia commented on #1036
I am having the same issue. Did you find a solution for svelte-kit?

[2021-11-22 17:12] neerajhbhat commented on #810
Hi, Any update on this?

[2021-11-24 16:24] neSpecc opened #1817 "API: improve block.insert() interface to allow passing parameters as an object instead of set"
1. Describe a problem.

The current interface of the `api.blocks.insert` accepts parameters as a list:

[code]

2. Describe the solution you'd like. Mockups are welcome.

It would better to pass parameters as an object:

[code]

**Important**. We need to save the backward capability.

[2021-11-24 16:56] neSpecc commented on #1812
Good point, thank you.

[2021-11-26 01:28] corund commented on #1750
Same Occurs in "The first plugin" example. I think it would occur when plugin has input field, and type-in there.

[2021-11-27 12:28] matt-savage opened #1820 "Toggle a readOnly utility class on holder element"
1. Describe a problem.
EditorJS adds a 50px margin-right to `.codex-editor__redactor`. We're using readOnly mode to display output for non-authenticated users. This margin is not required in readOnly mode. There are many ways to overcome this but they all require boilerplate code for each instance of EditorJS. We use many instances and it's an unnecessary ball-ache to do for each instance whilst m

[2021-11-28 13:38] lofcz commented on #1426
I second this request @neSpecc would you please take a look at this?

[2021-11-28 13:53] lofcz opened #1821 "Disable selection of blocks"
Is there a way to disable built-in rectangular selection of blocks?

![image](https://user-images.githubusercontent.com/10260230/143770733-cc18543a-4a99-4ab9-bae0-059bc2f2e1a6.png)

[2021-11-28 20:24] anuragk15 commented on #1311
Did you find a solution?

[2021-11-29 07:50] matt-savage opened #1822 "[Bug] editor.readOnly.isEnabled does not update"
Describe a bug.

Steps to reproduce:
1. `console.log(editor.readOnly.isEnabled)` outputs true
2. `editor.readOnly.toggle();`
3. `console.log(editor.readOnly.isEnabled)` outputs true

Expected behavior:
1. `console.log(editor.readOnly.isEnabled)` outputs true
2. `editor.readOnly.toggle();`
3. `console.log(editor.readOnly.isEnabled)` outputs false

Device, Browser, OS:
ALL

Editor.js version:
2.22.2

[2021-11-30 01:52] Eloi-Perez commented on #1790
Following a bit of that example, I've created a repository with a fully working editor.js in Next.js.
I'm still working on it. But the basic functionality is already there. [github.com/Eloi-Perez/my-next-editorjs](https://github.com/Eloi-Perez/my-next-editorjs)
Anyone interested feel free to copy or fork the repository.

[2021-11-30 02:25] sabigara commented on #1776
I love the writing experience of Editor.js with large display and keyboard, but not very good on mobile...

This option would be the best solution.

[2021-11-30 18:31] alxndr commented on #1408
Also seems to be happening in Firefox 95.0b11.

[2021-12-03 09:28] marko164 opened #1826 "[Bug] Compilation error with Angular 13"
[code]

Steps to reproduce:
1. ```import EditorJS from '@editorjs/editorjs';```
2. ```this._editor = new EditorJS({holder: this.id});```

Editor.js version: 2.22.2

Angular version: 13.0.2

Plugins you use with their versions: none

[2021-12-03 13:54] susana-bit commented on #1826
Same issue after upgrade Angular form 10 to 11.
Editor.js: 2.20.2
Codex-tooltip: 1.0.1 to 1.0.4

[2021-12-03 15:16] lukaswhite commented on #1189
This is something I'd really like to see. I've just tried it out, and the user experience is so much better without having to fill out a separate page title input. Also, the editor works much better, particularly for new users, when autofocus is set; with a separate page title that becomes difficult.

I guess it could be achieved with some new settings that could be useful for other things, rather

[2021-12-03 15:34] ignatospadov opened #1827 "[Bug] Paste and Match Style does not save content"
When pasting content into a paragraph using the `Paste and Match Style`, content does not save. This bug does not exist in version 2.19.3

Steps to reproduce:
1. Click on a new paragraph
2. Paste some content by right clicking and selecting `Paste and Match Style`
3. Refresh page, content does not save

Expected behavior: content should be saved

Device, Browser, OS: IOS, Chrome

Editor.js version

[2021-12-03 23:59] anuragvohraec opened #1828 "[Bug] : Not rendering properly on mobile devices"
Describe a bug.
1. No **more-options** button is shown on mobile devices :
![image](https://user-images.githubusercontent.com/53807480/144687309-7f5df05e-a724-48cf-b0ce-09c76f74c16e.png)

2. When clicking on **+** button the tool set are going beyond toolbar
![image](https://user-images.githubusercontent.com/53807480/144687426-19dcb406-c04d-48c0-8b47-3771f75fcb51.png)

Steps to reproduce:
1. Open

[2021-12-04 20:41] Swapnilchavan18 opened #1830 "Saving data with php backend"
Hi, I have searched over google, but don't find the correct way to save editorjs output, when we try to save with json there are lot of issues with slashes, JSON decode will not work and will basically remove content with double quotes(after using stripslashes and html_entity_decode) like href, any classes, attributes, etc

What is the best way to save the data that we can also process at PHP back

[2021-12-05 17:38] SavoInfostream commented on #908
Any progress update for this feature?

[2021-12-05 19:05] neSpecc commented on #908
Yes, we've designed and started implementing it. Here is [the first part](https://github.com/codex-team/editor.js/pull/1801).

You can support us and boost development speed via [donation](http://opencollective.com/editorjs) on OpenCollective.

[2021-12-05 20:21] SavoInfostream commented on #908
Donated.
Keep it going :)

[2021-12-06 03:13] ghost commented on #1826
I have same issue.
Editor.js: 2.21.0
Angular: 11

[2021-12-08 13:21] qhantom opened #1833 "Ability to prevent EditorJS to save HTML at all"
I wonder whether it is possible to completely prevent that EditorJS saves HTML-Tags in their blocks (i.e. `<a>link</a>`) and format it in another way as anchor (i.e. another object).

This is an example of EditorJS' way:
[code]

Suggestion/Approach:
[code]

I don't like the idea to store HTML inside the database and I don't like to mix and match HTML with JSON.

Thanks for the great lib anyway :-)

[2021-12-09 06:55] woren951 commented on #1833
#1801 :)

[2021-12-09 13:27] BunoKertez commented on #1826
same issue here
Angular 12
Editor 2.22.2

editing the node module file to this fixed it for me, not ideal:
node_modules\@editorjs\editorjs\types\api\tooltip.d.ts

[code]

[2021-12-09 17:52] #1433 closed

[2021-12-11 19:12] jeasoncc opened #1838 "Keyboard control"
i use editorjs in electron,
and need to customize some shortcut keys
such as  [ ctrl + s ]
but i find the editorjs Blocked my custom function
what should i do ?

[2021-12-12 10:11] jeasoncc commented on #746
hey, any news ?

[2021-12-12 10:26] jeasoncc commented on #1838
i saved my problem by find this library :+1: https://github.com/codex-team/codex.shortcuts

[2021-12-12 10:27] #1838 closed, assigned to nobody

[2021-12-12 10:27] jeasoncc commented on #1838
this problem is saved.

[2021-12-12 22:15] Ayman-Alahmad commented on #1826
same issue.
Editor.js: 2.22.2
Angular: ~13.1.0

[2021-12-13 09:33] eyalcohen4 commented on #933
Hi @cossssmin, have you found a solution? tackling the same specific behavior on my project.

[2021-12-15 10:59] neSpecc commented on #1258
Resolved by #1791 in `2.23.0`

---

The editor's `onChange` callback now accepts `CustomEvent` describing what happened with block.

This `CustomEvent` has:

`type` — mutation type (`Added`, `Removed`, `Moved`, `Changed`)
`details.block` — changed Block API
`details.*` — additional data

[2021-12-15 10:59] #1258 closed

[2021-12-15 11:05] neSpecc commented on #1500
There is no question, so I'll close this issue.

[2021-12-15 11:05] #1500 closed

[2021-12-16 02:54] conanliuhuan commented on #1450
Any way to solve this issue?
If i rendered a custom-web-component with shadow-root, backspace in that input will remove all the block

[2021-12-16 03:03] conanliuhuan opened #1840 "💡Prevent delete block on backspace（custom-webcomponent with shadow root will remove the hole block）"
1. Describe a problem.
If i defined a custom-webcomponent with shadow-root,and render it in a plugin, backspace in that input will remove all the block

[2021-12-16 06:05] conanliuhuan commented on #1840
I found another way to do the same thing

[2021-12-16 06:05] #1840 closed, assigned to nobody

[2021-12-16 17:19] Luppakorva opened #1841 "renderFromHTML on ready causing undefined error"
**Question**

I have HTML saved on database and have torender it for the EditorJS in cases of edit, however running to undefined when trying to use renderFromHTML. Any way to solve this?

**Context**

Found out there's renderFromHTML and trying to use it on ready:

`onReady: () => {            editEditor.blocks.renderFromHTML("htmlContent}");},`

This however leads to:

`editorjs@latest:6 Uncaught

[2021-12-16 22:59] sahilmob commented on #1498
I have created a babel plugin that wraps a React component with block tool class definition. You can check it out [here](https://www.npmjs.com/package/babel-transform-editor-jsx-blocks). Though, It is experimental, so use it at your own risk.

[2021-12-16 23:00] sahilmob commented on #1384
I have created a babel plugin that wraps a React component with a block tool class definition for this case. You can check it out [here](https://www.npmjs.com/package/babel-transform-editor-jsx-blocks). Though, It is experimental, so use it at your own risk.

[2021-12-17 17:30] sahilmob opened #1842 "POC: A babel plugin that converts Reactjs components into Editorjs block tools."
1. Describe a problem.
Editorjs custom blocks API is great for simple tools, however, when it comes to more complex tools, you have to deal with adding/removing/updating dom nodes, adding/removing event listeners manually, and so on.

2. Describe the solution you'd like. Mockups are welcome.
What if we could hand these tasks to a UI library like Reactjs that can manage the dom, with you worrying a

[2021-12-19 06:39] gilad1987 opened #1845 "[Bug]"
Describe a bug.

Steps to reproduce:
I write custom inline tool as render react component
after i save and get the object (data)
editojs not render my custom react component (inline tool)

in block tool it's work good

Editor.js version:

Plugins you use with their versions:
 "@editorjs/editorjs": "^2.22.2",

[2021-12-19 12:39] hata6502 commented on #1842
I think that using React directly is also simple.

https://github.com/hata6502/editorjs-examples/blob/main/examples/ExampleReactBlockTool/ExampleReactBlockTool.tsx

[2021-12-20 03:21] nelss-xyz opened #1847 "The editor doesn't focus the previous line on backspace"
Describe a bug.
The editor doesn't focus the previous line on backspace

Steps to reproduce:
1. Create new editorjs instance
2. goto it on ios
3. type something goto a new line then click backspace

Expected behavior: should focus previous line

Screenshots:
https://user-images.githubusercontent.com/67079195/146706967-cf9b7083-a820-46c5-9832-e082ea73ff6e.MOV

Device, Browser, OS: iPhone 7, Safari,

[2021-12-20 06:18] MeFelixWang commented on #1589
Wonderful feature, hope to use it.

[2021-12-21 04:07] vfan commented on #1529
I need this too? anyone has solution?

[2021-12-21 17:11] sahilmob commented on #1842
@hata6502 I agree, it is simple to use React, however, it is verbose.

[2021-12-21 22:39] sifloz commented on #1503
Hello, I'm trying to figure this out too. I'm currently working on an app that requires displaying more than one editor at the same time.

It all works perfectly until I start using editorjs plugins, such as the [code plugin](https://github.com/editor-js/code). When two or more editors are open and I start typing in them, this error is triggered.

Has anybody solved this?

Currently using it on a

[2021-12-22 07:29] andonghun opened #1848 "[Bug] `contentEditable = false` block is deleted when type backspace after the block in editor.js upper `2.22.2` version."
Describe a bug.

Steps to reproduce:
1. Go to the editor
2. Make any `contentEditable = false` block (such as image)
3. Type backspace to delete previous block in a paragraph block.

Expected behavior:
Do not delete `contentEditable = false` block, but it deleted.

Screenshots:
![delete](https://user-images.githubusercontent.com/37131996/147051655-0964c268-985d-415a-8039-2cf0c87d3db1.gif)

The blo

[2021-12-22 08:19] conanliuhuan opened #1849 "💡Duplicate block"
1. Describe a problem.
duplicate current block in tunes box

2. Describe the solution you'd like. Mockups are welcome.
![a](https://user-images.githubusercontent.com/26618275/147059403-183d221e-8e51-4434-870a-1c3e794a98de.jpg)

3. Are there any alternatives?
no

[2021-12-22 08:32] conanliuhuan commented on #1849
"Block Tunes API "

[2021-12-22 08:32] #1849 closed, assigned to nobody

[2021-12-22 22:48] VictorPivnenko commented on #1360
@dsheyp thank you for the workaround `caret.setToBlock()`

[2021-12-23 02:04] kaaaaaaaaaaai commented on #1812
i want one too.

[2021-12-23 02:06] kaaaaaaaaaaai commented on #1830
@Swapnilchavan18 is it solved?

[2021-12-24 01:07] jimmycrequer commented on #899
I have a similar issue.

I have a readonly editorJS instance and, when toggling edit mode, I want to insert a new block. However the focused style is not added even with the `needToFocus` flag.

[code]

I might misunderstand how things should work, please enlighten me.

[2021-12-28 07:43] hyun-park commented on #1406
@neSpecc
Hi! Any update on this issue?

[2021-12-28 18:02] syntaxbullet commented on #1796
you should be able to paste an image and it should create a simple-image block for you

[2021-12-29 17:28] IamDeshRaj commented on #1826
same issue.
Editor.js: 2.22.2
Angular: ~13.1.0

[2021-12-30 04:20] betaSavvy commented on #1589
+1 to this feature!

[2021-12-30 06:12] cole-dda opened #1851 "[Bug] scroll event listener"
Describe a bug.

Steps to reproduce:
1.  open example.html
2.  scroll

Expected behavior:

Screenshots:
<img width="604" alt="screenshot_4921" src="https://user-images.githubusercontent.com/1077830/147726364-19fba780-409b-420e-8870-c4c1f69d3eb1.png">

Device, Browser, OS: chrome mac

Editor.js version: 2.23.0-rc1

Plugins you use with their versions:

[2021-12-30 10:31] yiescc opened #1852 "Maximum call stack size exceeded"
[code]
from this code
[code]

[2021-12-30 16:34] scarranca commented on #1660
I'm having the same issue.
<img width="1279" alt="Screen Shot 2021-12-30 at 10 34 46" src="https://user-images.githubusercontent.com/22356118/147770717-1128061d-c575-4a6f-947d-e01a08a80c9d.png">

@MustafaSange did you manage to solve this ?

[2021-12-30 16:38] MustafaSange commented on #1660
Yes I had messaged the above.

On Thu, Dec 30, 2021 at 7:34 PM Santiago Carrancá ***@***.***>
wrote:

[2021-12-30 16:41] scarranca commented on #1660
How did you solve it?

[2021-12-30 16:42] MustafaSange commented on #1660
I could not solve the problem, thereafter I stopped.

On Thu, Dec 30, 2021 at 7:41 PM Santiago Carrancá ***@***.***>
wrote:

[2021-12-31 08:09] PetroSilenius opened #1853 "[Bug] Input type email errors on selectionEnd"
Adding a custom email input block results in an error because email input doesn't support `selectionEnd` which is used to clear off selection. The error comes from `src/components/modules/caret.ts:57`.

Steps to reproduce:
1. Create a custom input block with type `email`
2. Add that block to the editor instance from the toolbar
3. Get the error
`InvalidStateError: Failed to set the 'selectionEnd'

[2022-01-02 09:32] meghrathod opened #1855 "[Bug] Typo in Base concepts documentation"
Describe a bug.

Steps to reproduce:
1. Go to …

    - https://editorjs.io/base-concepts

2. Click on …

    - In the description of What is clean data, 'r' should be in the strong html tag, forming the word popular
    - Currently is  `<strong class="markup--strong markup--p-strong">one of popula</strong>r`

3. Expected behavior:

    - Should look somewhat like this
    - `<strong class="markup-

[2022-01-02 17:34] Y0ursTruly commented on #1705
I don't think this problem doesn't exist anymore.. just checked.. also happy new year

[2022-01-02 20:32] aiavci commented on #1702
Is there a workaround for this?

[2022-01-03 05:40] svengau commented on #1705
Sorry, but I can still reproduce this issue. Select all content, and try to paste, it doesn't work. (but it work if you select just a block).

ps: Happy new year too.

[2022-01-03 22:56] VictorPivnenko commented on #1408
Happening in Firefox 95.0.2 too. Any plans to fix it?

[2022-01-04 02:05] adriangzz commented on #1631
This should be open again, happening on 2.22.3

[2022-01-05 12:05] viczem commented on #935
React applications started by Create React App with TypeScript has the file `src/react-app-env.d.ts`. This file references TypeScript types declarations that are specific to the project.

To avoid  errors `TS7016: Could not find a declaration file ...` at import of any `@editorjs/pluginName` add custom declarations to the `src/react-app-env.d.ts`.

**Example:**
[code]

This is not a universal solu

[2022-01-05 16:57] rsindall opened #1856 "[Bug] Cannot assign to read only property 'parseInt' of object '[object Object]'"
Unable to load Editor.js in Salesforce LWC

I am trying to use [Editor.js][1] within an Salesforce `LWC`

Editor.JS [source][2] file.

I've added the 3rd party library as a `Static Resource`

And the LWC JS file is:

    import { LightningElement } from "lwc";
    import editorJS from "@salesforce/resourceUrl/EditorJS";
    import { loadScript } from "lightning/platformResourceLoader";

    export

[2022-01-06 10:27] Marax commented on #1826
specifying version of codex-tooltip: 1.0.2 in package.json solves the issue for me on Angular 13.1

[2022-01-06 11:28] Krishnagupta0568 commented on #1826
Error: node_modules/@editorjs/editorjs/types/api/tooltip.d.ts:4:9 - error TS2614: Module '"codex-tooltip"' has no exported member 'TooltipContent'. Did you mean to use 'import TooltipContent from "codex-tooltip"'
instead?

Solution Of This
Change in node_modules/@editorjs/editorjs/types/api/tooltip.d.ts file.
Replace this line
import {TooltipContent, TooltipOptions} from 'codex-tooltip';
to these

[2022-01-06 16:33] cyrildzumts commented on #1334
This issue is a serious one and it is a shame that it is not addressed. The actual workaround is not an option since it requires changing the CSP rules which is bad. A solution will be to have a css file that could be served by the user.

[2022-01-06 23:15] adriangzz opened #1859 "[Bug] v2.22.1 - v2.22.3 bold tags are not being added to output."
Describe a bug.
Same as #1631 bold tags are not appearing on final output. Only italics works. Also, copy pasting a bold text from a word document does work and it produces the <b> tags.

Steps to reproduce:
1. Set some text as bold.
2. Check the output.
`{
data: { text: "Yep." }
​​​id: "-Hu7x1FcoE"
​type: "paragraph"
}`

Expected behavior:
`{
data: { text: "<b>Yep.</b>" }
​​​id: "-Hu7x1FcoE"
​typ

[2022-01-07 02:39] adriangzz commented on #1859
Okay after much debugging I found a clue in this issue #1087. Turns out I was setting a font-weight in the css and this was making the api not save it with the <b> tags.

Hope this helps someone.

[2022-01-07 12:07] csfankun commented on #1515
const str = "<img src=\"https://minio.cvmart.net/cvmart-richtext-image/642a06ebfaef4292bc3157f8109439d0.jpg\">"   editor.blocks.renderFromHTML(existingHtml) is not ok for render this image. Is there other way to solve this?

[2022-01-10 10:57] evanjmg commented on #1390
I am getting the same issue here, random index at the start. Really makes it difficult to tell which block is actually selected

[2022-01-10 17:25] evanjmg opened #1860 "💡 Bulk insert"
1. Describe a problem.
 I have dozens of elements that need to be deleted then reinserted and replaced (i.e undo a particular section of document)
  elements.forEach((el, index) => {
      this.editor.blocks.insert(
        el.type,
        el.data,
        {},
})
Right now, the performance takes seconds for a render to reoccur after this insert.
2. Describe the solution you'd like. Mockups are we

[2022-01-11 14:32] evanjmg commented on #518
The performance for editorjs-undo is unbearable. I've had to fork the undo plugin to support slices of what's changed. However, I have had no luck in getting what has changed from editorjs (what index or grouping of indices - pages of a document in my case). Further support of the onChange event in plugins would allow one to extend and get the changes correctly. Indices before and after - store th

[2022-01-12 21:46] #1803 closed, assigned to nobody

[2022-01-13 16:12] #1750 closed, assigned to neSpecc

[2022-01-15 16:03] cgvictor opened #1865 "[Bug] Error pasting HTML with Block «...» skipped because saved data is invalid"
Hi. Encountered a bug behavior on paste from clipboard with HTML contents. Chrome latest, FF latest. Reproduced even on your project title page (the demo editor), so probably it's not my config.

Steps to reproduce:
1. Go to editorjs.io. The demo editor with sample content is displayed. Open developer console / console page, to better track what's going on inside.
2. Copy (Ctrl+C) any suitable par

[2022-01-15 16:17] cgvictor opened #1866 "Multiple selected blocks' actions (delete selected)"
1. _Describe a problem._ Missing a feature to do something with multiple selected blocks inside an editor. Mainly, **the delete feature**. Open the https://editorjs.io/ main page, after that try to remove multiple blocks from sample content **without the need to 3-clicking on every block provided** (block menu click, delete click, confirm click).

2. Well, the "instant solution" would be to implem

[2022-01-15 16:29] cgvictor commented on #1865
Version 2.22.3 same behavior.
I mentioned 2.22.2 because it's still used on editorjs.io title page, but on a latest release = behaves same as well.

[2022-01-17 13:18] #1860 closed, assigned to nobody

[2022-01-17 14:05] #1624 closed, assigned to nobody

[2022-01-17 14:17] #1821 closed, assigned to nobody

[2022-01-17 14:18] #1842 closed, assigned to nobody

[2022-01-17 14:18] #1830 closed, assigned to nobody

[2022-01-17 15:52] #1763 closed, assigned to nobody

[2022-01-17 15:54] #1710 closed, assigned to nobody

[2022-01-17 16:43] #1647 closed, assigned to nobody

[2022-01-17 17:45] SimonKlausLudwig commented on #1446
are there any news on this ?

[2022-01-17 17:56] #1682 closed, assigned to nobody

[2022-01-17 18:04] #1802 closed, assigned to nobody

[2022-01-17 18:05] #1796 closed, assigned to nobody

[2022-01-17 18:07] #1833 closed, assigned to nobody

[2022-01-17 18:09] talyguryn commented on #1331
resolved in [2.21.0](https://github.com/codex-team/editor.js/blob/next/docs/CHANGELOG.md#2210)

[2022-01-17 18:09] #1331 closed

[2022-01-17 18:10] #1808 closed, assigned to nobody

[2022-01-17 18:12] #1607 closed, assigned to nobody

[2022-01-17 18:13] #1749 closed, assigned to nobody

[2022-01-17 18:17] #1727 closed, assigned to nobody

[2022-01-17 19:13] jeremyVignelles commented on #1866
Related to #1626 ? I think it works with backspace.

[2022-01-18 13:17] cgvictor commented on #1866
Yep, `backspace` works, as an instant solution. Thank you for pointing on that hotkey, will use it for now
So, the feature question is now only 'do we plan any complex approach to multiple blocks' actions'

[2022-01-18 13:32] liaozhangpeng commented on #1826
same issue with angular 11

[2022-01-18 13:56] IamDeshRaj commented on #1826
@liaozhangpeng work around will be, just open the downloaded package of editorjs and edit node_modules@editorjs\editorjs\types\api\tooltip.d.ts as mentioned below and mentioned by @BunoKertez [here](https://github.com/codex-team/editor.js/issues/1826#issuecomment-989852612)

`//import {TooltipContent, TooltipOptions} from 'codex-tooltip';
import TooltipOptions from "codex-tooltip"
import TooltipCo

[2022-01-18 14:04] PhotonicDev commented on #1826
[code]
Here's a fix using fs-extra, not necessary to use fs-extra, just used it for convenience you can rewrite it to regular fs libs, I used this script since it broke before holidays just to be able to use the editor.js, please patch this.

[2022-01-18 17:51] #1648 closed, assigned to nobody

[2022-01-18 17:52] #1665 closed, assigned to nobody

[2022-01-18 17:54] #1731 closed, assigned to nobody

[2022-01-18 17:54] #1730 closed, assigned to nobody

[2022-01-20 05:43] surajpheudin commented on #1660
Having the same issue here
![image](https://user-images.githubusercontent.com/78244892/150280513-def2f59e-ee8d-438a-acda-c8411fac828d.png)

[2022-01-20 05:46] MustafaSange commented on #1660
Maybe we have to re-write the tag creating and sanitization logic.  Do let
me know if the problem is solved.

On Thu, Jan 20, 2022 at 8:43 AM Suraj Pheudin ***@***.***>
wrote:

[2022-01-20 06:21] ChasLui opened #1936 "the ease of a traditional word processor"
1. Describe a problem.

look this https://twitter.com/akothari/status/1483877568847949824

[2022-01-20 08:30] chenguzhen87 commented on #1589
Is this function implemented？

[2022-01-21 06:19] develowper opened #1937 "Plase Make image plugin more powerful"
hi dear developers. Editorjs is great!
but it will be more powerful with adding some futures :

resize handlers along image
inline-block type for image (can add text beside image)
 upload images on editor save not when image added to block ( u can show preview as blob link and base 64 as file to send)

i saw some of these future requests in issues but there is not any update for now.

Thanks!!!

[2022-01-21 09:32] #1937 closed, assigned to nobody

[2022-01-21 09:36] #1797 closed, assigned to nobody

[2022-01-21 09:39] #1936 closed, assigned to nobody

[2022-01-21 09:41] #1792 closed, assigned to nobody

[2022-01-21 12:49] #1866 closed, assigned to nobody

[2022-01-21 12:50] #1776 closed, assigned to nobody

[2022-01-21 15:58] kzgzhn commented on #1660
it seems you have an editor initialized
twice. I had the same error with React, fixed it via useMemo().

[2022-01-21 20:32] anstapol commented on #1740
Same here...

[2022-01-22 13:57] adamcbuckley opened #1945 "[Bug] Error TS2614: Module '"codex-tooltip"' has no exported member 'TooltipContent'"
Describe a bug.

Steps to reproduce:
1. I created a new Angular project (version 13.1.3)
2. I also install `"@editorjs/editorjs": "^2.22.2"`
3. The `ng build` step fails

Expected behavior: Successful build

Screenshots: Here is the ng build error message:

[code]

Device, Browser, OS: Windows 10, node 16.13.0, npm 8.1.3, typescript ~4.4.4

Editor.js version: 13.1.3

# Current workaround

* Manual

[2022-01-22 14:10] adamcbuckley commented on #1945
Duplicate of https://github.com/codex-team/editor.js/issues/1826

[2022-01-22 14:10] #1945 closed, assigned to nobody

[2022-01-22 23:38] hansmei commented on #821
Bump to this one. The delete-key still does not make sense. Please make it work the way you would expect from a text editor.

[2022-01-24 04:51] nishith83 opened #1946 "Support tab based indentation"
Hey folks,

We recently started playing around with editorjs and must say the capabilities are strong.
However found a basic improvement which should go in editor (comparing with Notion):

- The editor should support tab based indentation. As far as I have played around, don't see this on the fly. Think from a writer's usability, this should be added

If there's a way to do it (not talking checkli

[2022-01-24 10:56] #1946 closed, assigned to nobody

[2022-01-27 07:12] itsmingjie commented on #1388
Hi! I'm one of the program coordinators of a nonprofit program called [CodeDay Init](https://labs.codeday.org/), and we partner with colleges to help CS students make their first open-source contribution.

We'll claim this issue for now and a group of students will be on it soon with mentorship! If this issue is no longer relevant, please let me know.

[2022-01-27 09:43] orbachar commented on #1755
thanks for that, exactly fixed both of my issues.

any update on this team?

[2022-01-28 10:15] seancheung commented on #1702
Same as #1741

[2022-01-28 11:56] AlexRMU commented on #1149
Isn't it easier for developers, instead of embedding styles`!` in the head`!`, to encapsulate them, as all normal people do?
When initializing, the editor has an element id, so why shouldn't it use this id in styles?

[2022-01-28 17:04] softronsts opened #1951 "Pagination"
Hi,

Is it possible to paginate the content view?

Regards,

[2022-01-30 14:00] Wampfer commented on #1446
Yeah, this would be really helpful!

[2022-01-30 17:38] Dellord commented on #1865
Have same issue. Version 2.22.3.

Editor saving data before onPaste call (render -> save -> paste -> validate) and has no reaction for paste changes. So data for validation is not actual and block skipped.

Chrome 97.0.4692.99, Firefox 96.0.3

[2022-02-01 00:33] ewalpole opened #1952 "sanitizeConfig Error (Vue & TS)"
Working on a very simple/basic implementation using Vue 2.0 & TS and I am getting a sanitize config error when the Editor is trying to save as I add each text block. Am I missing something on the config where I should be setting the sanitizer?

Thanks!

[code]

[code]

[2022-02-01 17:48] ewalpole opened #1953 "💡EditorJS Tab Navigation Friendly"
1. Describe a problem.
Currently trying to use EditorJS as an input for a form with other simpler inputs. It seems like it's assumed that users are only mouse users and that EditorJS is the only item on the page right now. It's very difficult to use `tab` and `shift+ tab` (accessibility key combos) to move from EditorJS to the other form inputs because EditorJS traps the focus and these common key

[2022-02-02 15:56] doroszenko commented on #1446
Hi, any update?

[2022-02-04 05:31] jimmycrequer opened #1957 "Testing editor.js with jest-dom"
I am using editor.js in a React project and using [test-library](https://testing-library.com/) with jest-dom for tests.
I want to implement some basic test cases such as "load the editor then input some content and save" but I am not sure how to write this test.

I tried to list all the difficulties I faced and the workaround I used, if it can help !

### wait until the editor finishes loading (`i

[2022-02-04 23:34] nbrown1337 commented on #1388
It appears this issue has been fixed when running local dev version. It is **not** fixed on the edititorjs.io website though.

[2022-02-04 23:35] nbrown1337 commented on #1383
Hi! I'm one of the mentors for a nonprofit program called [CodeDay Init](https://labs.codeday.org/), and we partner with colleges to help CS students make their first open-source contribution.

We'll claim this issue for now and a group of students will be on it soon with mentorship! Thanks!

[2022-02-05 04:33] papyr opened #1958 "Integration into ASP Core"
Hello, do you have any guidance or samples to integrate with ASP Core MVC

[2022-02-05 09:17] neSpecc commented on #1958
Hello. We have the official [integration guide](https://editorjs.io/getting-started) and some ready integrations in our [awesome list](https://github.com/editor-js/awesome-editorjs).

[2022-02-05 09:17] #1958 closed, assigned to nobody

[2022-02-05 09:22] neSpecc commented on #1952
Looks like you are trying to use the Header Block tool and the List Block tool as an Inline tools.

Change this

[code]

To this

[code]

[2022-02-05 09:25] neSpecc commented on #1951
I think it could be implemented outside the Editor core.

[2022-02-05 21:24] geo903 opened #1960 "Caption in table"
How can I add a Caption field to a table component?

[2022-02-05 23:00] talyguryn commented on #1960
Ask this in the [editor-js/table](https://github.com/editor-js/table) repo.

[2022-02-05 23:00] #1960 closed, assigned to nobody

[2022-02-06 15:07] guirip commented on #1576
This bug is still live 🐛

[2022-02-07 22:34] jonasb opened #1962 "❓ Block id is not included on website (output data spec)"
**Question**

The section [Output data format](https://editorjs.io/saving-data#output-data-format) doesn't include the block id.

**Context**

The spec seems quite important for external tools wanting to interop with editor.js.

**Related issues**

**Comments**

[2022-02-07 22:58] ewalpole commented on #1952
@neSpecc thanks for catching that, will fix it and get back on if it's working now.

[2022-02-08 08:11] neSpecc commented on #1962
Thanks. Updated the doc.

[2022-02-08 08:11] #1962 closed, assigned to nobody

[2022-02-08 09:30] polyrainbow opened #1963 "[Bug] Editing the class of a node always triggers 'didMutated'"
When changing the class name of an HTML element inside a block, this always triggers the `didMutated` event.

I've tried to disable this behavior by adding the attribute `data-mutation-free="true"` to the element, but the code does not respect this because the function `shouldFireUpdate` only considers added nodes and removed nodes with this attribute, but not the changed node itself.

How about c

[2022-02-08 10:48] neSpecc commented on #791
Duplicate https://github.com/codex-team/editor.js/issues/927

[2022-02-08 10:48] #791 closed

[2022-02-08 10:49] neSpecc commented on #1184
Duplicate https://github.com/codex-team/editor.js/issues/927

[2022-02-08 10:49] #1184 closed

[2022-02-08 10:49] neSpecc commented on #1953
Duplicate https://github.com/codex-team/editor.js/issues/927

[2022-02-08 10:49] #1953 closed, assigned to nobody

[2022-02-08 10:50] neSpecc commented on #835
Done

[2022-02-08 10:50] #835 closed

[2022-02-08 10:57] neSpecc commented on #1423
Looks like you are inserting Editor at the container which is less that a single block content width. Editor.js [handles](https://github.com/codex-team/editor.js/blob/next/src/components/modules/ui.ts#L292-L297) such cases enabling the `Narrow Mode` where the Plus button places inside the Block (because there is no space outside)

[2022-02-08 10:57] #1423 closed

[2022-02-08 11:00] neSpecc commented on #1845
The issue title is not descriptive

[2022-02-08 11:00] #1845 closed, assigned to nobody

[2022-02-08 11:01] neSpecc commented on #1852
How to reproduce?

[2022-02-08 11:06] neSpecc commented on #1963
Please explain your use case. Why changing of a classname should not trigger `didMutated`?

[2022-02-08 11:14] neSpecc commented on #1855
Fixed

[2022-02-08 11:14] #1855 closed, assigned to nobody

[2022-02-08 11:44] polyrainbow commented on #1963
I have a block that loads an image and then displays it. When the loading is finished, the class name of the wrapper element is changed for styling purposes. Basically the same that happens here: https://github.com/editor-js/image/blob/master/src/ui.js#L236

This loading does not mutate the state so IMO it should not trigger `didMutated`.

[2022-02-08 11:49] sadikyalcin opened #1965 "Limiting blocks"
Is it possible to limit the blocks added? In certain scenarios I need to prevent the users from adding extra blocks and only allow them to be able to edit the content within the existing blocks. Any tips or solutions?

[2022-02-08 12:00] neSpecc commented on #1800
The issue title is not descriptive

[2022-02-08 12:24] neSpecc commented on #1965
Currently there is no such feature.

[2022-02-08 17:33] ewalpole commented on #1952
That fixed it, thanks for the help!

[2022-02-08 17:33] #1952 closed, assigned to nobody

[2022-02-09 09:06] BrentonScott commented on #1826
Any update on this? Still find the same error on 2.23.1

[2022-02-09 16:17] hlynurstef opened #1968 "[Bug] v2.23.1 readOnly: true crashes the editor"
On version 2.23.1 when we create a new EditorJs instance with `readOnly: true` the editor crashes with the following error:

[code]

This crash does not happen on v2.23.0

Steps to reproduce:
1. Make sure you are on version 2.23.1 of `@editorjs/editorjs`
2. Create an EditorJs instance with readOnly: true
3. Observe the crash

I've created a reproducable example in codesandbox where you can toggle

[2022-02-09 17:46] #1968 closed, assigned to neSpecc

[2022-02-09 17:50] neSpecc commented on #1968
Sorry. Fix was shipped with 2.23.2

[2022-02-10 01:54] liaozhangpeng commented on #1826
codex-tooltip version 1.0.2 will temporarily solve this problem

add this to your package.json

"resolutions": {
"codex-tooltip": "1.0.2"
}

then
yarn or npm install

[2022-02-11 18:32] #1777 closed, assigned to nobody

[2022-02-13 15:44] orbachar opened #1970 "[Bug] can't paste links on mobile"
Paste link doesn't work on mobile, on desktop it works as expected.
See attached video

Device, Browser, OS: chrome on Android

Editor.js version: 2.23.2

# #

https://user-images.githubusercontent.com/57751360/153760931-3c751348-28e4-43ba-bfd6-9b83b94a6f09.mp4

[2022-02-15 16:51] kaungsithar commented on #1828
#1811 Vertical Toolbox will fix this.

[2022-02-15 23:30] danlynkew opened #1971 "onPaste() does not fire when pasting more than one block"
I've defined a custom block as a plugin, and passed that plugin to Editor.js. When I copy and paste one such block, its `onPaste()` event fires. But when I copy-and-paste two or more such blocks, their `onPaste()` events do not fire.

Steps to reproduce:
1. Highlight and copy two blocks.
2. On a newline, paste those two blocks.

Expected behavior:
`onPaste()` function should fire, but does not.

S

[2022-02-16 15:23] m-collins opened #1972 "[Bug] hover toolbar doesn't work on mobile responsive size layout"
Describe a bug.
When interacting with the editor on my laptop chrome browser at the mobile responsive breakpoint, I can not hover the toolbar as the toolbar jumps to the next block when I attempt to hover.

Steps to reproduce:
2. Go to editorjs.io homepage (I'm seeing this bug in my project as well as the official editor JS demo)
3. Reduce browser small enough for the mobile responsive layout to b

[2022-02-17 13:58] #1812 closed, assigned to nobody

[2022-02-17 14:01] #1610 closed, assigned to nobody

[2022-02-17 14:01] #1680 closed, assigned to nobody

[2022-02-17 14:02] #1752 closed, assigned to nobody

[2022-02-19 13:16] Viciooo opened #1981 "Custom inline tool created in typescript not working"
Hi, I started working on the creation of the inline tool for adding "missing letters" in the text. I need it for the project on creating quizzes for learning.

I took the code in JS from the 'Underline plugin' and tried rewriting it to ts and then making changes.
The code below does not do anything sadly :(

[code]
Does anybody have a clue why?

[2022-02-21 10:05] HalleyGao commented on #1500
https://hexx.vercel.app/

[2022-02-21 11:24] nenad-coniq commented on #1965
@sadikyalcin

This is the workaround solution I have: [https://github.com/codex-team/editor.js/discussions/1974#discussioncomment-2196059](https://github.com/codex-team/editor.js/discussions/1974#discussioncomment-2196059)

P.S. I care only for specific tools i.e. toggling on and off display styling directly on toolbox menu.

[2022-02-23 12:16] chenguzhen87 opened #1983 "[Bug]"
Describe a bug.
When I was editing, the editor reported an error and could not be saved
Steps to reproduce:

Expected behavior:
It can be saved without error reporting

Screenshots:
![image](https://user-images.githubusercontent.com/28331609/155317185-de589a7d-2efc-4026-930e-82559ca006cb.png)

Device, Browser, OS:
pc, chrome,win10

Editor.js version:
[2.23.2](https://www.npmjs.com/package/@editorj

[2022-02-24 20:13] luciancic commented on #1841
I'm seeing the same bug. Commenting out the `renderFromHTML` makes it work again

[2022-02-24 20:54] luciancic opened #1985 "calling renderFromHTML with empty string or blank tags causes crash when you click on the editor holder"
Describe a bug.

Just as the title says. This is the error you get:

```TypeError: Cannot read properties of undefined (reading 'holder')```

Steps to reproduce:
1. Go to [my codesandbox](https://codesandbox.io/s/editorjs-renderfromhtml-bug-repro-xpl50e?file=/src/index.js) to see a minimal reproduction of the error.
2. Click on where the editor should be, in the browser window.
3. Uncomment the ot

[2022-02-24 20:57] luciancic commented on #1985
Probably related to #1841

[2022-02-25 05:42] AndreKR commented on #1306
I got the same impression. Currently the "clean data" is just HTML separated into blocks, so just as with any other WYSIWYG editor you can either pass it unchecked to an HTML-based rendering engine or you can start parsing it yourself.

[This comment](https://github.com/codex-team/editor.js/issues/742#issuecomment-569060367) suggests that it was planned to provide a proper tree structure (emphasis

[2022-02-25 18:29] dlinardi commented on #1755
facing this issue right now, anyway you can share a snippet of how you fixed this?

[2022-02-25 18:35] pythonhubdev opened #1986 "Can I use editor.js with react or next along with typescript?"
I am trying to build an editor based website for learning react and nextjs.

I am using typescript along with next.js so I would like to know wether I can use editor.js with typescript and next.

[2022-02-25 19:25] orbachar commented on #1755
sure, I am using react-editor-js but the idea is the same, use `setTimeout` on your save handler

[code]

[2022-02-27 15:24] #1981 closed, assigned to nobody

[2022-02-28 01:05] jimmycrequer commented on #1968
@neSpecc Hello, I have the same error on `2.23.0-rc.2`, it seems the fix wasn't applied on that branch can you please check?

[2022-02-28 05:48] DeveloperAdd007 opened #1987 "What is minimum angular version supported by editor.js ?"
**Question**

What is the minimum angular version supported by editor.js ?

[2022-02-28 10:00] NCWUxiaobo opened #1988 "How"
The question.

Why and how the question has come up.

[2022-02-28 10:00] #1988 closed, assigned to nobody

[2022-02-28 10:16] NCWUxiaobo opened #1989 "How do I assign data from an Ajax request to data"
l just **tried** editor.js development, but **l can't assign data of the Editor**. I want to **assign the data from the Ajax request to data of the Editor**.  How do I solve the problem of **asynchronous requests**     The problem like this:
[code]
I would be **gratefu**l if you had **documentation** developed in conjunction with **Vue** and **editor.js**

[2022-02-28 12:11] sadikyalcin commented on #1965
What version are you using? My `event` param object is different;

[code]

[2022-02-28 12:19] nenad-coniq commented on #1965
It's `2.23.2`, currently latest version.

[2022-02-28 15:06] sadikyalcin commented on #1965
Cool - I've upgraded and my event object is normal. I'll try your approach buddy, thanks!

@neSpecc it would be nice if you could add a `maxBlockCount` or something on tools config to support such feature. It would be a great addition.

Usecase;

Custom h1 block: `maxBlockCount: 1`. So users would only be allowed to create only 1 h1 block.

[2022-03-02 07:56] chenguzhen87 commented on #1983
Error caused by @editorjs/attaches

[2022-03-02 16:17] chenguzhen87 opened #1990 "How to add ID attribute to each block element ?"
I need to add ID attribute to the block element to realize anchor location. What is the solution？

[2022-03-02 16:24] chenguzhen87 commented on #1989
1、你可以watch blocks 再 实例化 new EditorJS()
[code]

2、在then中给方法参数传给编辑器实例化
[code]

[2022-03-02 16:25] chenguzhen87 commented on #1989
1、你可以watch blocks 再 实例化 new EditorJS()
[code]

2、在then中给方法参数传给编辑器实例化
[code]

[2022-03-07 19:30] keyone2693z commented on #1826
same issue ver 2.23.2

[2022-03-09 02:32] robonetphy commented on #1970
Hi @orbachar, I am unable to reproduce the problem as shown in the video below:
# #

https://user-images.githubusercontent.com/23169768/157361849-1e1c9c9e-4368-4cf3-8d02-5b7f79b8f03f.mp4

If it still occurs on your phone then pls provide us with the chrome version.
Happy editing...

[2022-03-09 07:28] orbachar commented on #1970
cant reproduce either, thanks!

[2022-03-09 07:28] #1970 closed, assigned to robonetphy

[2022-03-10 21:18] Stajor commented on #1826
Same issue
Angular: 13
Editorjs: 2.23.2

[code]

[2022-03-11 01:41] conanliuhuan opened #1994 "[Bug] Tune box is cutted off in some site"
I updated editorjs from version 2.22.2 to 2.23.2, the tune box is cutted off in some small size of browser.

![Snipaste_2022-03-11_08-51-06](https://user-images.githubusercontent.com/26618275/157781247-d4ac6124-ba75-47e5-beab-3b300e69f09b.png

Because the window is relatively small, cannot have large padding. Thus the situation of being cropped appears.

Editor.js version: 2.23.2

Suggestion:
![1]

[2022-03-11 02:21] hanxiaohuivc opened #1995 "[Bug]Request for help:Running "yarn tools:update" gives an error"
Describe a bug.

Steps to reproduce:
1. I'm compiling editorjs on win10, I've successfully run the "yarn pull_tools" command
2. when running the "yarn build" command I get a warning: WARNING in license-webpack-plugin:
 could not find any license type for html-janitor in its package. json
3. I did not handle this warning and ran the "example-dev.html" example directly, it prompting me to run the "y

[2022-03-11 08:15] hanxiaohuivc commented on #1995
I have no problem using the release/2.18 branch.

[2022-03-11 08:15] #1995 closed, assigned to nobody

[2022-03-11 13:32] MrMooky opened #1997 "onChange event not called when adding new block"
When I create a new element, e.g. a delimiter, and instantly store my content, the new element is not stored because the `onChange` event is not triggered. But when creating a new element and changing content (active keyup), the element gets stored because the `onChange` is triggered.

Expected behavior: `onChange` should be called after adding a new element.

Screenshots: https://www.loom.com/sha

[2022-03-14 08:23] #1772 closed, assigned to nobody

[2022-03-14 21:00] gklake commented on #1383
CodeDay Micro-Internship members [Wicaksa](https://github.com/wicaksa), [Hamzah](https://github.com/wv5246), and I collaborated on this pull request.

[2022-03-15 14:04] #1383 closed

[2022-03-16 09:33] ZhangGangTW opened #2001 "How to implement max length limitation💡?"
We have a requirement to limit the number of text characters to 5000 text words. How to implement this?

Now we implement by counting all the blocks' text length, but the performance is not good, because we want to real-time display the remaining words like "200/5000".

Is there any better way to count the whole text length except the HTML tag in real-time?

[2022-03-17 07:25] bolasim opened #2002 "How to show add block icon on every block regardless of width?"
I want my users to be able to add a block at any point in the documents. Currently, I only see this button at the bottom if I am in the wider view, or in the hover box when I am in the narrow view.

How do I get it so that I can get the + in all width configs?

[2022-03-17 14:21] neSpecc commented on #2002
We're finishing the development of this feature. Will be released soon.

[2022-03-17 16:33] bolasim commented on #2002
Thank you. I'll keep an eye out for it.

[2022-03-18 11:23] max4all opened #2003 "tab key should work as intended💡"
The functionality of a tab key is simple: Indentation. I don't know why you changed it. It's a bad choice.

[2022-03-19 19:17] eyalcohen4 commented on #1740
Same here, does someone found a workaround? Need to access the holder of a tool

[2022-03-22 02:52] #1990 closed, assigned to nobody

[2022-03-22 09:44] nicolasprou opened #2005 "[Bug] Multi-Line paste in custom datatable"
I create an Excel/CSV datatable to integrate in EditorJS

![bug paste](https://user-images.githubusercontent.com/49784787/159445632-ccc861d3-6386-4363-a7ba-16dddcf66861.gif)

but when i paste an entire column (or text containing `\n` or `\rn,` i dont have the problem for inline copy containing only `\t`) editorjs creates me as many blocks as I have elements to copy. Is there a way to handle the "p

[2022-03-22 15:30] jakubm95 opened #2006 "dispatchChange"
How to dispatchChange from custom tool?
dispatchChange is new feature but nowhere is it described how to use it

[2022-03-23 10:29] anuragvohraec commented on #1828
As for now only adding a single css property will solve the issue:

![image](https://user-images.githubusercontent.com/53807480/159679309-184f38e4-a1e1-479b-a420-382c0eb7f54b.png)

[2022-03-24 13:05] faerot commented on #1841
Same here. Had to do ``if (content.trim()) { ...renderFromHTML(content) }``

[2022-03-24 13:17] BaronSlayer commented on #1986
you would need to import it dynamically with { ssr: false } or use react-editor-js package

[2022-03-24 15:37] robonetphy commented on #1997
@MrMooky, Thanks for reporting the bug.
But can you share some more details like
`what is your editorjs configuration?`
`what method you are using to store the content instantly?`

[2022-03-25 13:34] neSpecc commented on #1769
The toolbox will become a vertical list soon.

<img width="444" alt="image" src="https://user-images.githubusercontent.com/3684889/160130410-75e5ce5a-1d53-4c59-adb4-7965bbb1fa2b.png">

Anyway, it will be good if users would have the ability to customize the UI as they want. This feature is planned for the 3.0 version.

[2022-03-29 17:34] ekwus commented on #1720
I'd like to use editor.js to create simple forms / survey type pages and then display the page in readonly mode but allow the viewer to enter data in to textbox, checkbox, radio button fields and then have that data saved. This feature would help with this but maybe not deliver the full functionality

[2022-03-29 19:36] ekwus commented on #1589
I'd like to use editor.js to create simple forms / survey type pages and then display the page in readonly mode but allow the viewer to enter data in to textbox, checkbox, radio button fields and then have that data saved. This feature would help with this but maybe not deliver the full functionality

[2022-03-30 14:47] neSpecc commented on #1675
Closed due to inactivity

[2022-03-30 14:47] #1675 closed, assigned to nobody

[2022-03-31 06:55] psalchow commented on #1699
Are there any updates on this? The above mentioned approach is only a workaround and doesn't work in all cases. For example if text is inserted programmatically into the editor. The editor itself is recognizing the change (at least the `"Editor.js saving"` is logged in the console), but no `onChange` is called at all. So delaying the save doesn't work in this case.

[2022-04-01 10:27] alexanderjulmer opened #2010 "Entering text into empty first block on new document triggers 'block-changed' event rather than 'block-created'"
If a new editor is instantiated and no initial data is provided, editorjs creates an empty block in which the cursor is set. If the user starts typing in this block, editorjs triggers the event `block-changed`.

Steps to reproduce:
1. Initialise an empty editorjs instance
2. Provide an `onChange` function and listen to it
4. Start typing in the first empty block
5. Check the console

Here's a demo